[2016-07-06 10:09] dzinek opened #1 "Runnable script instruction"
Please add to the README file how to install with runnable script in PATH.

You can add a comment that the user can install with:
* virtualenv
* sudo and install in system path
* local path and add it to PATH environment

[2016-07-08 13:34] venth commented on #1
Improvement added. Please review it.

[2016-07-08 15:04] dzinek commented on #1
Nice :) Thanks.

[2016-07-08 15:04] #1 closed

[2016-07-15 05:25] holmesjr opened #5 "Clear IAM role from config"
It would be nice to have a CLI option to clear the saved IAM role from the config, so we could swap between roles without having to edit the config file manually. I can send a pull request if you're happy to consider the change.

[2016-07-15 06:50] venth commented on #5
There is the reset command. I use reset to completely wipeout the specific aws profile. Would you like to describe the usage scenario, you have in mind, so the need would be clearer for me?

[2016-07-15 07:15] holmesjr commented on #5
Ah, my mistake. I used the `default` profile in my auth but then reset without specifying a profile (so it defaulted to `adfs`).

[2016-07-15 07:15] #5 closed

[2016-07-15 07:27] venth commented on #5
Perhaps I should improve the description. If you have any suggestion on that I would be glad 😄

[2016-07-15 07:29] holmesjr commented on #5
Happy that it was PEBKAC over here.

[2016-07-15 14:00] dzinek opened #6 "UnicodeEncodeError: 'ascii' codec can't encode character u'\u017a' in position 705: ordinal not in range(128)"
Version: aws-adfs-0.0.3
Uname: Linux mo-01-0187 4.4.0-28-generic #47-Ubuntu SMP Fri Jun 24 10:09:13 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Charset: pl_PL.UTF-8

[code]

[2016-07-15 22:46] brandond commented on #6
I am pretty sure this explicit decoding is unnecessary now that we're using ET instead of beautifulsoup. I suspect that one of the Python 3 fixes in https://github.com/venth/aws-adfs/pull/7 will fix this for Python 2 as well.

[2016-07-17 06:45] venth commented on #6
I think, that the issue is related to missing encoding in headers and passed Accept-Language.

It should be constant and set probably to en_US. In content-type header there should be charset utf-8 mentioned.

[2016-07-17 07:23] venth commented on #6
Reproduced. I was able to reproduce the issue by setting

Changing it to:

solved the issue.

[2016-07-18 01:55] holmesjr opened #8 "Ability to add environment variables"
It would be great to be able to populate the environment variables `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY` and `AWS_DEFAULT_REGION` with a command line switch. This would make passing creds through to a Docker container easy, for example.

Eager to hear your thoughts.

[2016-07-18 05:04] venth commented on #8
Passing secrets via environment variables is insecure. Having this in mind I follow slightly different approach based on mounting volumes. My docker containers operate in aws environment, they don't need any credentials to interact with aws api using boto, throposphere, sdk or cli thanks to a proper IAM role assigned to them. In case of local development I mount aws secrets on container's /var/sec

[2016-07-18 05:28] holmesjr commented on #8
I suspected that might be the answer. I'll consider the mounting approach.

[2016-07-18 19:03] brandond commented on #6
Yeah, since we're pulling the failure messages directly out of the HTML document, I was trying to allow for some localization by reading the language from the user's environment. This means that if the user has their terminal language set to non-English, parsing may fail due to the fact that the input stream is already UTF-8 with non-ASCII characters.

[2016-07-18 19:22] venth commented on #6
Exactly. Since there is no need to translate the interesting output. I think that we could stick with english.

[2016-07-18 19:27] venth commented on #8
May I close the issue? ;)

[2016-07-19 06:18] holmesjr commented on #8
Sorry, yes, I'll do that now.

[2016-07-19 06:18] #8 closed

[2016-07-19 12:41] venth commented on #6
@dzinek, there is new version released. Please verify, if the issue still exists.

[2016-07-19 12:51] dzinek commented on #6
Works, thanks.

[2016-07-19 12:51] #6 closed

[2016-08-25 04:12] nalindak opened #11 "requests.exceptions.SSLError: [Errno 2] - aws-adfs version 0.1.1"
Hi there,

We are getting `SSL` exceptions with the latest version 0.1.1 which running in Mac (However it's continue to work in version 0.0.9).

- OS is Mac OS X EI Capitan Version `10.11.6`
- Python `2.7`

We get following error when we try to `aws-adfs login --adfs-host=your-adfs-hostname`

Error is the error,
[code]

[2016-08-25 20:42] venth commented on #11
Thanks for the notification. I'll look into it.

[2016-08-27 08:32] venth commented on #11
Hi @nalindak,

I've tried to reproduce the issue by removal of ca certs from my os. I've succeeded to produce the same stacktrace.

In case of osx, I think that providing ssl certs could be done like that:
[code]
It would be good to place REQUESTS_CA_BUNDLE into you .bashrc, I believe.

Please let me know, if providing REQUESTS_CA_BUNDLE with location of cacert helped.

[2016-08-27 21:00] venth commented on #11
I've prepared the fix. The version 0.1.2 contains the fix.

[2016-08-28 05:57] nalindak commented on #11
Hi @venth Installed and checked version `0.1.2` which fixed the issue. Thank you so much for your prompt response and the fix.

[2016-08-28 11:33] venth commented on #11
My pleasure, may I close the isssue? 😀

[2016-08-28 23:37] nalindak commented on #11
@venth Yep let's close this. Cheers

[2016-08-29 05:29] #11 closed

[2016-10-27 23:21] brmakana opened #16 "automate aws-adfs with expect"
Hello,

I'm trying to automate logging in with aws-adfs, using expect. Has anyone managed to do this? I have not; so far I have:

[code]

(assuming I have the user/pass in env vars) but it appears the password part gets skipped.

[2016-10-28 05:18] venth commented on #16
I'll look into it.

[2016-10-29 09:24] venth commented on #16
This script should do the thing:
`
spawn aws-adfs login --adfs-host=my.adfs.host
set timeout 30

expect {
  "Username: $" {
    send "$::env(username)\r"
    expect -r "Password: $"
    send "$::env(password)\r"
    exp_continue
  }

  "Selection: $" {
    send "$::env(selection)\r"
    exp_continue
  }
}
[code]

[2016-10-31 07:06] brmakana commented on #16
That worked great, thanks!

[2016-10-31 07:06] #16 closed

[2016-11-24 10:52] n-my opened #17 "Add an option to change the STS token duration"
Now that we can specify an AWS console session duration using SAML 2.0 (see [here](https://aws.amazon.com/blogs/security/enable-your-federated-users-to-work-in-the-aws-management-console-for-up-to-12-hours/)) it would be nice to have an option to set the STS token duration in aws-adfs.

The idea is that if I can have a 12h session I don't want to re-log every hour because the STS token duration be

[2016-11-24 10:56] niravradia commented on #17
+1

[2016-11-24 11:34] venth commented on #17
Let me look into that

[2016-11-27 12:50] venth commented on #17
I've removed DurationSeconds limit counting that SessionDuration attribute in saml response will be honored. Unfortunately, it looks that sts API ignores this attribute and sticks to one hour limit. Providing explicit longer DurationSeconds results in validation error.

I've created feature branch: `feature/STS-token-duration` so you may browse implementation by yourself. Short info for hacking:
*

[2016-11-27 14:36] venth commented on #17
The documentation states that maximum time for a credentials got from assume role with saml is: 3600 seconds
`http://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRoleWithSAML.html`

The duration, in seconds, of the role session. The value can range from 900 seconds (15 minutes) to 3600 seconds (1 hour). By default, the value is set to 3600 seconds. An expiration can also be specified in t

[2016-12-12 13:29] n-my commented on #17
Thank you @venth for having investigating this one. I am closing the issue until AWS changes the max value.

[2016-12-12 13:30] #17 closed

[2016-12-12 16:10] venth commented on #17
Thank you 😀

[2017-02-13 16:06] kwhitlock opened #18 "Ability to change the URN in html_roles_fetcher.py"
Hi

Is there are a way of overriding the urn url on line 26 of html_roles_fetcher.py, from calling aws-adfs on the command line?

Currently its hard coded to webservices, but we use many different urn names.

Ta,

[2017-02-14 20:27] venth commented on #18
Currently there isn't any way to change the urn url. How shall the usage scenario look like? Could you give an example?

[2017-02-15 21:39] venth commented on #18
OK, I understood what you require. Please, correct the code so that travis will finish build with success.

[2017-02-15 22:30] kwhitlock commented on #18
Done 👍

[2017-02-17 19:31] venth commented on #18
Merged and released as 0.2.1. Could I ask for closing the issue?

[2017-02-17 19:50] kwhitlock commented on #18
Many thanks. :)

[2017-02-17 19:50] #18 closed

[2017-02-28 05:21] SydOps opened #20 "list output is too simple"
Currently the list output is too simple, I use it to set a default profile, but sometime I need switch to other account, which it doesn't make sense for me, if always list as default.

can we have output with additional information, such as profile name, aws account alias and adfs_config.role_arn?

[2017-02-28 06:20] venth commented on #20
Would you like to paste a mockup (could be formatted text), so it would be easier for me to see the results of the change?

[2017-02-28 10:10] SydOps commented on #20
change from:

[code]
to something like this, so I can easily know what's the current default profile.

[code]

[2017-02-28 10:14] SydOps commented on #20
Second, if I set `AWS_DEFAULT_PROFILE=xxx-nonprod` or `AWS_PROFILE=xxx-nonprod` environment variables
[code]

I got error when run below command:

[code]

[2017-02-28 13:10] SydOps commented on #20
pull request has been raised.

[2017-03-01 05:09] #20 closed

[2017-03-01 05:09] SydOps commented on #20
PR has been merged.

[2017-03-01 05:12] venth commented on #20
Released with version 0.2.2

[2017-03-01 09:54] SydOps opened #22 "Requests specifying Server Side Encryption with AWS KMS managed keys require AWS Signature Version 4"
With default setting by aws-adfs, I can't download files from s3 buckets.

After run `aws configure set s3.signature_version s3v4`

Below lines are added to ~/.aws/config

[code]

So if I `aws-adfs reset` and `aws-adfs login` again, I lost the s3 setting in config file.

[2017-03-01 10:03] SydOps commented on #20
@venth

Saw the codes you updated in `aws_adfs/list_profiles.py`, seems line 19 is not required any more.

https://github.com/venth/aws-adfs/blob/master/aws_adfs/list_profiles.py#L19

[2017-03-01 10:13] venth commented on #20
You're right 😄I'll fix it. Thanks.

[2017-03-01 10:23] venth commented on #22
`aws-adfs reset` works as designed - removes stored profile. I think that you expected that reset removes from a profile aws-adfs metadata.

Perhaps current `aws-adfs reset` shall act as you expected and new sub-command `aws-adfs removes-profile` shall remove a profile?

[2017-03-01 10:26] SydOps commented on #22
can we have one more option to enable s3 signature version when `aws-adfs login`?

[2017-03-01 17:06] venth commented on #22
OK. I'll add this option with empty default value

[2017-03-05 06:45] venth commented on #22
Released with version: 0.2.3

[2017-03-05 07:02] SydOps commented on #22
Yes, work as expect. Thanks.

[2017-03-05 07:02] #22 closed

[2017-03-13 21:24] eric-nord opened #23 "--verbose flag fails when used with login --adfs-host."
--verbose flag doesn't seem to work:

aws-adfs login --verbose --adfs-host "https://XXXXXXXXXXX.XXX.XXX/adfs/ls/IdpInitiatedSignOn.aspx"
Error: no such option: --verbose

aws-adfs login --adfs-host "https://XXXXXXXXXXX.XXX.XXX/adfs/ls/IdpInitiatedSignOn.aspx" --verbose
Error: no such option: --verbose

[2017-03-13 21:25] eric-nord opened #24 "Failed with DUO MFA enabled."
AWS CLI access is successful with ADFS but fails after DUO MFA is enabled in ADFS.

[2017-03-13 21:37] eric-nord commented on #24
Think it's in html_roles_fetcher.py around line 45.
When It's trying to fetch roles from the AWS "Select a Role" page it fails as the DUO MFA page loads instead and waits for the user to accept the push.

May need to target  the button text "Send Me a Push" and click it until the user accepts the MFA Push.

[2017-03-14 07:57] venth commented on #23
Hi @eric-nord

login command doesn't have --verbose option. This option is a global one. Please look on help of login command:
`
aws-adfs login --help
Usage: aws-adfs login [OPTIONS]

  Authenticates an user with active directory credentials

Options:
  --profile TEXT                  AWS cli profile that will be authenticated.
                                  After successful authentication just

[2017-03-14 08:03] venth commented on #24
Unfortunately I don't have access to adfs installation that uses MFA to authenticate an user. If you have link to any vagrant / docker machine description that I could spin up then I could tell more about this issue.

[2017-03-14 14:35] eric-nord commented on #23
That does make sense after reviewing it on the help page again. Thank you for taking the effort to look into it. Adding the "To enable..." Line does make it more clear.

[2017-03-14 14:35] #23 closed

[2017-03-14 15:09] eric-nord commented on #24
I have credentials for a sample login if you'd like please email me
directly @ eric.w.nord@gmail.com

On Tue, Mar 14, 2017 at 2:03 AM, Artur Krysiak <notifications@github.com>
wrote:

[2017-03-14 16:13] eric-nord commented on #24
Here's the error - makes me think it retires parsing the AWS HTML a few times then fails not giving the MFA challange time to fire (and the user time to respond):
ERICN:/mnt/c/Users/XXX$ aws-adfs -v login --adfs-host https://XXXXXXXX.XXX.XXX/adfs/ls/IdpInitiatedSignOn.aspx
`2017-03-14 10:07:37,910 [connectionpool connectionpool.py:_new_conn] [41-MainProcess] [140390998083392-MainThread] - DEBUG: S

[2017-03-15 03:08] SydOps commented on #22
@venth

I faced a strange problem when enable `--s3-signature-version s3v4`.

With above option enabled, when I run `aws s3 cp`, I got the file is same when I download it from aws console.  But when running in application (SDK) to get the file, for example, I run `terraform remote config`, I got an old file.

If disable this option, the problem is gone.

[2017-03-15 07:33] venth commented on #22
@SydOps I think it's rather related to way how boto is working, since the configuration is read by this library. aws-adfs just appends configuration and nothing more.

[2017-03-27 18:37] venth commented on #24
Duo security integration is available in version 0.3.0. Thanks @eric-nord for bringing the issue, commitment and help 👍

[2017-03-29 13:08] venth commented on #24
Duo Security integration is delivered with version 0.3.0. @eric-nord may I ask you to close the issue?

[2017-03-29 14:19] eric-nord commented on #24
Thank you @venth,

You're awesome to work with.

[2017-03-29 14:19] #24 closed

[2017-03-29 14:19] eric-nord commented on #24
Yes of course

On Wed, Mar 29, 2017 at 7:08 AM, Artur Krysiak <notifications@github.com>
wrote:

[2017-03-31 21:23] anthony-estevez-zefr opened #25 "UnicodeEncodeError: 'ascii' codec can't encode character u'\u201c' in position 18498: ordinal not in range(128)"
Hello,

I'm getting this issue when I attempt to login.

aws-adfs version: 0.3.0
Mac version: 10.12.4
Python: 2.7.10

[code]

[2017-04-01 18:19] venth commented on #25
Unfortunately I not able to reproduce the issue. I think that setup utf-8 as default encoding for stdout stream used in logging is sufficient. The change is already in master. @anthony-estevez-zefr, may I ask you to verify, if the introduced change corrected UnicodeEncodeError issue?

[2017-04-03 17:51] anthony-estevez-zefr commented on #25
It appears that it did not. Is there anything else I can provide that may shred some light on this issue?

2017-04-03 10:48:10,914 [html_roles_fetcher html_roles_fetcher.py:fetch_html_encoded_roles] [23773-MainProcess] [140596703614720-MainThread] - DEBUG: Attempt to load authentication cookies into session failed. Re-authentication will be performed. The error:
2017-04-03 10:48:10,915 [connection

[2017-04-03 18:21] venth commented on #25
Did you install from latest master commit by cloning repo locally and performing pip install -e. ?

[2017-04-03 18:48] anthony-estevez-zefr commented on #25
Yes, I just did and it give me the following error.
[code]

[2017-04-03 18:53] anthony-estevez-zefr commented on #25
Does the application account for redirects? Our site sso.zefr.com redirects to sso.zefr.com/adfs/ls/IdpInitiatedSignOn.aspx

[2017-04-04 13:06] venth commented on #25
Thanks for the hint. I'll check it Today.

[2017-04-04 17:15] anthony-estevez-zefr commented on #25
I found that when I changed the python version to 3 and I don't run into this unicode issue.

[2017-04-04 17:25] anthony-estevez-zefr opened #26 "Add option to remove adfs Cookie that stores user account information"
Hi,

I was wondering if it would be possible to add an option that removes the adfs user account used so that we have the option to sign in with another user account.

[2017-04-04 19:31] venth commented on #25
Fix delivered with version 0.3.1

[2017-04-04 19:37] venth commented on #26
I think that the easies way is usage of different aws profiles. Like that:
`aws-adfs login --profile=user_foo ...`
`aws-adfs login --profile=user_bar ...`

Then you can execute any aws command using permissions of a specific user just by providing the profile. Like:
`aws --profile=user_foo <service> ...`
`aws --profile=user_bar <service> ...`

[2017-04-04 20:07] anthony-estevez-zefr commented on #25
Fantastic, I just tested it.

[2017-04-04 20:07] #25 closed

[2017-04-04 20:58] anthony-estevez-zefr commented on #26
Great!

[2017-04-04 20:58] #26 closed

[2017-04-06 02:40] anthony-estevez-zefr opened #27 "--region and --output-format flags don't seem to be working"
Hello,

It seems a few flags aren't working.

Sending request for authentication
Waiting for additional authentication
Going for aws roles

        Prepared ADFS configuration as follows:
            * AWS CLI profile                   : 'default'
            * AWS region                        : 'eu-central-1'
            * Output format                     : 'json'
            * Provider ID

[2017-04-09 06:18] venth commented on #27
The issue here is that value provided via parameter in command line doesn't override the previously stored one.

[2017-04-09 19:30] venth commented on #27
Fix delivered with version: 0.3.2

[2017-04-11 08:27] cezarygerard opened #28 "On login, skipping profile option causes error."
invoking following command results in error.

aws-adfs login --adfs-host=valid.host --no-ssl-verification
Traceback (most recent call last):
  File "/usr/local/bin/aws-adfs", line 11, in <module>
    load_entry_point('aws-adfs==0.3.2', 'console_scripts', 'aws-adfs')()
  File "/usr/local/lib/python2.7/dist-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "

[2017-04-12 20:27] venth commented on #28
Fix delivered in version 0.3.3

[2017-04-16 07:33] anthony-estevez-zefr commented on #27
It's working great.

[2017-04-16 07:33] #27 closed

[2017-04-25 07:36] #28 closed

[2017-04-25 20:56] cliv opened #30 "Duo Authentication fails for users who don't have a preferred Auth method."
While trying to authenticate to an ADFS 3.0 provider using duo auth I get the following error (With --verbose flag to aws-adfs)
[code]

Once I logged in via browser, clicking 'settings' -> 'My Settings & Devices'  and setting an option in 'When I log in:' aws-adfs worked fine.

After a bit of poking and troubleshooting, it looks like [/aws-adfs/_duo_authenticator.py](https://github.com/venth/aws-a

[2017-04-25 22:20] dsw88 opened #31 "aws-adfs not working on macOS Sierra - System-installed Python 2.7"
I'm having issues getting aws-adfs to work on the system-installed Python 2.7 on macOS Sierra. The tool can be installed using pip, but when running the command "aws-adfs login --adfs-host MYHOST --profile MYPROFILE", I get the following error:

[code]

Any idea why this would be happening?

[2017-04-26 09:18] venth commented on #31
Would you like to add results of the following command: `openssl s_client -connect "<your-host>:<your-port>" -showcerts -servername "<your-host>"`?

[2017-04-26 09:21] venth commented on #30
Thanks for mentioning about this issue. At beginning I'll add to readme information that in case of du-security there is a need to setup preferred device. Then I'll add possibility to choose then device.

[2017-04-26 21:01] dsw88 commented on #31
Yeah sure I can do that. Is <your-host> supposed to replaced with the hostname of my ADFS server that I'm trying to talk to? Also, what would the port be? I'm not sure what port ADFS wants to talk on. Thanks!

[2017-04-27 04:33] venth commented on #31
Ahh, my bad :) host name is your ADFS server fqdn (e.g.: adfs.example.com) and port is 443

[2017-04-27 12:37] putarpuar opened #32 "TypeError"
Hey,

I have an issue with the execution of aws-adfs. I  think I have all the dependencies installed, but still this error:

Traceback (most recent call last):
  File "/usr/local/bin/aws-adfs", line 11, in <module>
    sys.exit(cli())
  File "/usr/local/lib/python3.5/dist-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python3.5/dist-pack

[2017-04-27 13:11] #32 closed

[2017-04-27 20:13] dsw88 commented on #31
Ah ok thanks! I ran that and got the following output:
[code]

[2017-04-28 05:17] venth commented on #31
What is your version of OpenSSL?

[2017-04-28 15:45] dsw88 commented on #31
I ran "openssl version" and got this output:
[code]

[2017-04-29 05:03] venth commented on #31
I think the server uses TLSv1.2. OpenSSL 0.9.8zh 14 Jan 2016 (bundled in osx) doesn't support it. Please upgrade openssl at least to version 1.0.1 or newer, if possible.

You may upgrade openssl via brew for instance.

[2017-04-29 05:23] venth opened #33 "Allow selection of a device for second authentication factor in duo security integration when the preferred device setting is missing"
This enhancement is because of: #30. Currently duo-security users which didn't setup preferred device cannot login via aws-adfs. As a workaround they need to setup preferred device in duo-security settings.

In case an user doesn't setup the preferred device, aws-adfs presents device list and ask the user to choose the device for second factor authentication.

[2017-04-29 05:24] venth commented on #30
I described the workaround provided by you and added the issue: #33 to deal with the situation when the preferred device is missing.

[2017-05-02 18:57] anthoneous opened #34 "When logging in with aws-adfs and Duo MFA"
Hello,

When I login with AWS-ADFS and Duo MFA and the sts session expires it Duo prompts me again. Is there a way to use the ADFS session time and skip the Duo prompt until the ADFS session token expires?

For example, if I logged in and my ADFS session is set for four hours then I shouldn't be prompted to authenticate with Duo again for another four hours even if the AWS session expired.

This c

[2017-05-02 20:28] eric-nord opened #35 "ADFS with DUO list account alias instead of account IDs"
Currently the list of accounts is given as AWS AccountId. It would be preferable to have them listed as account alias instead.

Current behavior:
[code]

Desired behavior:
[code]

[2017-05-03 07:27] venth commented on #30
Since the workaround is described and new issue is created, may I ask to close this one?

[2017-05-03 07:30] venth commented on #34
It would be feasible with usage of a cron job. I would like to avaid adding such an automation. I'll look into sts documentation to see what are the options to extend session time.

[2017-05-03 20:44] wiederhold commented on #31
same issue OSX 10.12.4:

`brew upgrade openssl'

installs OpenSSL 1.0.2k but has issues as per [@katopz](https://medium.com/@katopz/how-to-upgrade-openssl-8d005554401). Added:

`export PATH=$(brew --prefix openssl)/bin:$PATH`

to .bash_profile AND I'm able to
`openssl s_client -connect "myhost:443" -showcerts -servername "myhost"`

with the following response:

[2017-05-03 21:23] anthony-estevez-zefr commented on #34
Thanks for the follow up. I think if are can imitate the way ADFS handles duo authentication that would be a great start. ADFS authenticates with Duo once and won't prompt for authentication with Duo again until the session in ADFS is done.

I did find the following attempts regarding the sts session renewals:

https://github.com/boto/boto3/issues/1019
https://github.com/msabramo/aws-cli-get-token

[2017-05-04 07:15] venth commented on #31
Thanks for providing OpenSSL feedback. I'll look into the response. Right now the error looks differently. Would you like to repeat aws-adfs command with verbose parameter? Additionally please provide result of `pip freeze` command.

[2017-05-04 09:09] venth commented on #34
Smart solution. I'll think about something similar.

[2017-05-04 17:46] wiederhold commented on #31
So w/ a nights sleep the issue appears to have resolved... My suspicion is that because I already had an open DUO authentication, but my aws-adfs login had failed, that a session somewhere needed to be cleared out...

Whatever might have been the case, the issue on Sierra is clearly the OpenSSL library, not aws-adfs. Excellent work btw

[2017-05-08 20:56] cougar2009 opened #37 "adfs conflicts with default profile"
If mfa_serial exist in the default profile then it asks for an mfa_code after role selection [observed with DUO mfa]

If role_arn exist in the default profile then after role selection it tries to authenticate with the role_arn from the existing default profile.

[2017-05-09 05:54] venth commented on #31
Thank you :) Since the issue seems to be cleared out, may I ask you to close it?

[2017-05-09 06:00] venth commented on #37
I'll look into the code and find out, why duo is asked for code after role selection.

[2017-05-09 16:51] #31 closed

[2017-05-11 17:51] gkalmady opened #39 "Issues with Centos 7"
I am running Centos 7 in a VM on Virtualbox. I am attempting to use aws-adfs to connect to my code commit repo in AWS. My Python version 2.7.12. I installed aws-adfs using pip. The aws-adfs version is 0.3.3
On both aws-adfs --version and aws-adfs --help I get the following error.
aws-adfs --help
Traceback (most recent call last):
  File "/usr/bin/aws-adfs", line 5, in <module>
    from pkg_resourc

[2017-05-11 18:26] cliv commented on #30
Absolutely - Thanks @venth!

[2017-05-11 18:26] #30 closed

[2017-05-11 19:20] venth commented on #39
I've tried to verify this issue by usage of docker and latest centos7 image.
I created Dockerfile as follows:
[code]

and docker-compose.yml:
[code]

Then I've executed following command:
`docker-compose run centos7 aws-adfs --version`

It returned current version of installed latest aws-adfs. In my case it was 0.3.3

I think that you somehow omitted during installation of security extras of reque

[2017-05-11 20:04] gkalmady commented on #39
Thanks for the quick  response Artur. I tried the above.
I get nothing to install for the group Development tools.
openssl-devel successfully installed with version 1:1.0.1e-60.e17_3.1

python-devel successfully installed with version 2.7.5-48.e17

On pip install I get the warning
Requirement already satisfied: requests[security] in /usr/lib/python2.7/site-packages
requests 2.6.0 does not provide

[2017-05-11 20:12] gkalmady commented on #39
I upgraded by requests to 2.14 using pip install requests --upgrade
I tried pip install requests[security] again.
Now I get
gkalmady@gkcentosdev bin]$ sudo pip install requests[security]
Requirement already satisfied: requests[security] in /usr/lib/python2.7/site-packages
Requirement already satisfied: idna>=2.0.0; extra == "security" in /usr/lib/python2.7/site-packages (from requests[security])
C

[2017-05-12 04:58] venth commented on #39
Please try to reinstall requests[security]: `sudo pip uninstall requests[security]` and then install `sudo pip install requests[security]`

[2017-05-12 11:35] gkalmady commented on #39
Thanks Artur,
  I started with a Centos Everything ISO and followed your installation instructions. It came with Python 2.7.5, out of the box. I performed a pip upgrade of requests[security]. This was followed by install aws-adfs and it worked.
I would close this issue now. However I would like to upgrade to Python 2.7.12 and I have not gotten that scenario working. I am going to try out that next

[2017-05-12 11:35] #39 closed

[2017-05-16 21:43] cliv opened #40 "Support for Duo's "Remember Me" feature"
Would it be possible to leverage Duo's "Remember me for x days" feature (I believe it's set via a cookie) to prevent having to continually use MFA on the same machine?

![image](https://cloud.githubusercontent.com/assets/2160736/26129570/b85d84c0-3a5e-11e7-9f12-6af8b7dd423c.png)

The ability to do so is optional, and controlled by the duo admin for the team, but if the checkbox exists, it would be

[2017-06-07 22:23] eikenb opened #41 "Python 3 compatible?"
In the readme you credit @brandond with Python 3 compatibility, and your 'known issues' section lists python 3.2 as not supported (hinting that python 3.3+ is supported). I'm getting the similar error that was reported in #32 with python3.4. He closed the issue saying he got it working with python 2.7.

Is aws-adfs python-3 compatible?

[2017-06-07 22:56] eikenb commented on #41
The error is...

$ aws-adfs --help
Traceback (most recent call last):
  File "/home/jae/scratch/awscli/venv/bin/aws-adfs", line 9, in <module>
    load_entry_point('aws-adfs==0.3.3', 'console_scripts', 'aws-adfs')()
  File "/home/jae/scratch/awscli/venv/lib/python3.4/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/home/jae/scratch/awscli/venv/lib/

[2017-06-07 23:17] eikenb commented on #41
Trying a few other things the errors are all similar and always come out of the Click package.
It is using click-6.7.

[2017-06-10 14:13] venth commented on #41
Please, paste here the result of the command: `pip freeze`
I'll setup same environment and try to reproduce the issue.

[2017-06-11 11:59] venth commented on #41
Hmm, got it. The change introduced in click version 6.7 causes the issue.

[2017-06-13 00:05] eikenb commented on #41
Great. Thanks. I'll be sure to test it as soon as the fix lands. Sorry I don't have time to work on it myself right now.

[2017-06-15 09:11] venth commented on #34
I thought about the decoration command that in case of expired session would execute adfs-aws to re-authenticate and then proceed with original aws cli command.
Introduction of the decoration command that would be named the same as original one seems to be a little complicated.

I would like to propose the introduction of `awsa` command that would delegate the execution to aws command; in case of

[2017-06-15 09:26] venth commented on #35
@eric-nord what do you think about making the list to look as follows:
[code]

[2017-06-15 09:35] venth commented on #37
@cougar2009 which profile did you use to authenticate against adfs? Default one? What value did you pass to `--profile` parameter of `aws-adfs` command?

[2017-06-15 15:48] eric-nord commented on #35
Anything is better if we get the account alias in with the account id

[2017-06-16 20:43] anthony-estevez-zefr commented on #34
I think that should work.

[2017-06-20 17:16] AndrewFarley opened #42 "Parsing error while trying to login to Duo MFA"
We have a new integration and continuing our integration of Duo including in our AWS ADFS/SAML solution.  For us, our ADFS response page does not have the ```host:``` or ```sig_request:``` pattern in the javascript in the same way that is programmed in this tool.  Error contents pasted below.

I figured I'd throw it here on issues so you have visibility into the error even though I've already debu

[2017-06-20 19:27] #42 closed

[2017-06-20 20:12] venth commented on #41
delivered with version 0.3.4

[2017-06-21 03:54] eikenb commented on #41
I can no longer reproduce this bug with version 0.3.4. Thanks.

[2017-06-21 03:54] #41 closed

[2017-06-21 04:16] eikenb opened #44 "Version 0.3.4 returns no roles."
I have an existing 0.3.3 setup with python2.7 that works, logging me in with the appropriate role. After I upgrade to 0.3.4 it gives me "This account does not have access to any roles". I ran "pip install -I aws-adfs==0.3.3" to downgrade back to 0.3.3 and it works again.

Is there some configuration setting that I might have changed. I tried moving my .aws folder out of the way and starting from s

[2017-06-21 05:05] venth commented on #44
I think that the issue can be related to the changes introduced yesterday. Does your adfs server have duo second factor authentication enabled? Would you like to use --verbose and paste the log?

[2017-06-21 18:37] eikenb commented on #44
We are not using duo second factor auth at present. I've pasted the log below. I eliding the long session/token strings and anonymized the output.

2017-06-21 11:13:42,718 [connectionpool connectionpool.py:_new_conn] [5816-MainProcess] [140336628340480-MainThread] - DEBUG: Starting new HTTPS connection (1): adfs.foobar.com
2017-06-21 11:13:43,668 [connectionpool connectionpool.py:_make_request] [5

[2017-06-21 18:56] eikenb commented on #44
I cloned the repo to look at the differences between the versions and noticed a difference in what is tagged in the repo as 0.3.4 and what I got from pip install/pypi. Moreover if I moved the pip installed one out of the way and sym-linked the cloned directory to the venv's site-packages/aws_adfs directory... it works.

The files that are different in the cloned version vs the pypi version are; ht

[2017-06-21 20:07] venth commented on #44
Please, paste the patch, so I can identify origin of these changes. I suspect, that I wrongly packed egg and uploaded it into pypi.

[2017-06-21 20:17] eikenb commented on #44
[code]

[2017-06-21 20:19] eikenb commented on #44
The aws_adfs-do-not-use/authenticator.py one is from pyp, the  ../../../../ one is from the git repo.

[2017-06-21 20:30] venth commented on #44
OK. I know what has happened. I've created egg from incomplete feature branch: https://github.com/venth/aws-adfs/tree/feature/35_ADFS_with_DUO_list_account_alias_instead_of_account_IDs

I need to think about automation of the release process

[2017-06-21 20:50] venth commented on #44
I uploaded new version 0.3.5 with one commit (version increase and praises for you for vigilance). Thank you.

[2017-06-21 20:55] eikenb commented on #44
Great. I'll test 0.3.5 with python2.7 and python3.4 and let you know.

[2017-06-21 21:06] eikenb commented on #44
I was able to refresh my current session without problem using both python 2.7 and 3.4. So I think you got it. Thanks!

[2017-06-21 21:06] #44 closed

[2017-06-22 01:16] eikenb opened #45 "Script-ability"
Would you consider a pull request that added a way to make the call to aws-adfs non-interactive. I'm thinking a login argument that has it take accept the password from STDIN (like sudo -S) and another that lets you give the username on the command line.

Thought I'd ask to see if you'd be open to a PR before just diving into the code.

Thanks.

[2017-06-22 03:50] eikenb commented on #45
I think it might be better to just have the stdin argument that takes a username/password pair. So it is one option and you eliminate weird states like having the password passed in but no username. Either separated by a newline, colon, or something similar.

[2017-06-22 04:17] venth commented on #45
OK, please create PR. I'll look into it.

[2017-06-22 08:31] venth opened #46 "Automate release process"
Currently release process is done manually, which already ended up with the released spoiled egg on pypi. In order to prevent releasing spoiled eggs in the future the release process will be performed by travis, when the commit used to build is tagged with a version and build is executed against master branch.

[2017-06-22 08:38] venth opened #47 "Introduce git tag based versioning"
The inspiration to move versioning to git tags is the project - [axion-release-plugin](https://github.com/allegro/axion-release-plugin) made by Allegro.
The reasons to moving to git tag based versioning are:
* easier release process by moving versioning outside of the codebase,
* keep versioning consistent.

[2017-06-22 19:34] eikenb commented on #45
Submitted the PR; #48

[2017-06-24 08:05] venth commented on #45
PR #48 merged and released with version 0.3.6

[2017-06-24 17:52] venth commented on #47
There is a project that realizes git based versioning for python. It's [python-versioneer](https://github.com/warner/python-versioneer).

[2017-06-24 21:12] eikenb commented on #45
Great. Thanks!

[2017-06-24 21:12] #45 closed

[2017-07-12 04:38] venth commented on #35
Released with version 0.3.7

[2017-07-12 04:39] venth commented on #35
@eric-nord could you, please, verify, if the introduced change is sufficient?

[2017-07-12 23:03] eric-nord commented on #35
Well done and thank you.

[2017-07-12 23:03] #35 closed

[2017-07-13 04:44] venth commented on #35
👍

[2017-07-14 18:02] dplunk opened #49 "Upgrade from 0.3.6 to 0.3.7 breaking simple authentication"
I just upgraded my module from 0.3.6 to 0.3.7 and am now receiving the following error during authentication.

[code]

Python version 2.7.10 on Mac OS X El Capitan 10.11.4
Pip modules installed:
[code]

[2017-07-14 18:18] venth commented on #49
Do you have environment variable AWS_PROFILE set?

[2017-07-14 20:38] dplunk commented on #49
@venth no, there's no AWS_PROFILE set. The only AWS_* env is AWS_DEFAULT_REGION.

[2017-07-16 08:11] venth commented on #49
Would you like to send me results of `aws-adfs --verbose login ....` command via e-mail? My email address is: artur(dot)krysiak(dot)warszawa(at)gmail.com

I found the cause and I need HTML results to see what I missed during parsing.

[2017-07-17 14:39] dplunk commented on #49
@venth A sanitized output has been sent your way, thank you!

[2017-07-20 08:47] asceresini commented on #49
@venth would you like any more outputs? Otherwise I will just watch and wait for a fix. I've downgraded back to known working version of 0.3.3 as an interim measure.

[2017-07-20 09:36] venth commented on #49
Now, I'm completely occupied by my son. That's why fixes are postponed... :(

[2017-07-20 21:12] venth commented on #49
Patch provided with version: 0.3.8

[2017-07-28 00:53] anthoneous commented on #49
This issue doesn't appear to be fixed in version 0.3.8

`2017-07-27 17:51:10,754 [authenticator authenticator.py:authenticate] [90346-MainProcess] [140736902673344-MainThread] - ERROR: Cannot extract saml assertion. Second factor authentication failed?
Username [user@user.com]:
Password:
Sending request for authentication
Waiting for additional authentication
Going for aws roles
Traceback (most re

[2017-07-28 03:52] venth commented on #49
So, the cause I found seems to be different. I found out that for the failing account number its alias was not provided and the results in html looked like:
`<div class="saml-account-name">Account: 1234567890</div>` instead of:
`<div class="saml-account-name">Account: Account-Awesome-Alias (1234567890)</div>`
It seems that, handling this specific situation didn't help. I'll fix it as follows:
* in

[2017-07-28 15:50] venth commented on #49
Afore mentioned change delivered with version 0.3.9

[2017-07-28 22:01] asceresini commented on #49
Hi @venth,

The issue seems to be resolved, however, I am receiving this output prior to entering username:

`2017-07-29 08:00:19,403 [authenticator authenticator.py:authenticate] [29856-MainProcess] [140736811815872-MainThread] - ERROR: Cannot extract saml assertion. Second factor authentication failed?`

[2017-07-29 05:08] venth commented on #49
The messages, you haven seen, are caused by the authentication attempt. For the first time aws-adfs tries to authenticate against adfs server based on the information stored in a profile chosen by --profile switch. The assumption is that you're already authenticated and want to extend aws session. If the attempt fails, regular authentication is performed.

[2017-08-01 16:39] quixand opened #50 "Version 0.3.9 returns no roles"
Hi
ive just installed on a clean debian 9 stretch (vm) install and got the following (some credentials redacted)

[code]

So I rolled back with
[code]
which seemed to fix it. I saw bug #44 I'm guessing its related
thanks

[2017-08-02 04:37] venth commented on #50
Please check if you have AWS_PROFILE enviromental variable set. If it's set then unset it. If it's feasible perform also: aws-adfs reset --profile=default

Then please repeat the login attempt.

[2017-08-02 14:04] quixand commented on #50
ok

[code]
rolled it back
[code]

thanks for your help with this
nick

[2017-08-03 06:58] venth commented on #50
Hi, I noticed that in the posted code you use binary from /home/quixand and /home/nick

Is it a typo? Does any hint given by me helped you fix the issue?

[2017-08-03 07:19] quixand commented on #50
no that was just a failure of my obfuscation find and replace
the real path is /home/nick/.local/bin/aws-adfs.

I discovered this problem because I installed it for the first time on my mac (v10.12.6) and had the same issue, I thought I had done something wrong so installed on a fresh copy of debian stretch in virtualbox and got the same problem. That was when I suspected a bug and came looking he

[2017-08-03 18:56] anthoneous commented on #49
@dplunk @venth I can confirm this bug is resolved in 0.3.9.

[2017-08-05 07:51] venth commented on #49
Thanks @anthoneous. I close the issue then.

[2017-08-05 07:51] #49 closed

[2017-08-13 18:38] venth commented on #47
Introduced in version 0.3.11

[2017-08-13 18:38] #47 closed

[2017-08-13 19:32] venth commented on #50
Hi @quixand,

in order to reproduce the issue, I used the docker container built on the top of Debian stretch version. Relevant files you can find here: [Dockerfile and docker-compose.yml](https://gist.github.com/venth/178cf042f836986fbddfeee8320cc88a)

I brought up aws-adfs by command: `docker-compose run --rm aws-adfs` and login via adfs. Unfortunately (or fortunately), I was able to see all rol

[2017-08-18 09:25] cytopia opened #51 "Duo MFA: please add documentation for how to use it."
I would like to use `aws-adfs` with DUO (MFA), however I could not find any documentation how to use it.
Could you please add some documentation or howto.

[2017-08-18 13:56] venth commented on #51
There is no special configuration required to use aws-adfs with adfs server with DUO security enabled. Perhaps besides setup preferred auth method in duo-sercurity settings (settings' -> 'My Settings & Devices').

Just execute command `aws-adfs login --adfs-host=<your adfs host address>` and follow instructions presented on the screen.

[2017-08-18 22:22] cytopia commented on #51
Thanks, I thought it was an `aws-adfs` setting, rather than the `adfs-host` itself.

[2017-08-18 22:22] #51 closed

[2017-08-19 20:17] QuantumGrizzly opened #52 "Dependency incompatibility with botocore 1.6.0+"
Hello,

I had an issue after updating the awscli to the version (1.11.136).

[code]

I worked around the problem by downgrading botocore to version 1.5.95.

[code]

But a better solution would to update the dependency requirements for botocore.

# Versions
awscli (1.11.136)
boto3 (1.4.4)
botocore (1.5.95)
aws-adfs (0.2.3)

[2017-08-22 04:47] venth commented on #52
Hi, I verified versions declared in the setup file. `aws-adfs` uses latest version of following libraries:
* lxml
* click
* boto3
* requests[security]
* configparser

I think that the fix could look like that:
*  `pip uninstall botocore boto3 && pip install boto3` then a proper version for boto3 library will be installed along with boto3.

In case, the fix will not work, please provide `pip freeze

[2017-08-24 13:14] mbudzinski commented on #52
I can confirm that the above fix works.

[2017-08-25 18:51] anthoneous commented on #34
@venth https://gist.github.com/kapilt/ac8e222081f63ba64e93 appears to partially address the issue. What do you think?

[2017-08-25 19:30] venth commented on #34
Looks awesome, I'll try it.

[2017-09-15 19:01] anthoneous opened #53 "Feature request for more authentication methods"
Currently, we have to set automatic push for the login to work. I tried using a few different methods to see which ones work (OTP, SMS, and Phone Call) as described on duo's site for other applications that don't support push. None of them work, each have different failures.

OTP (one time passcode) - works by adding the passcode to the existing password like so
```eg. password,passcode```

Error:

[2017-09-17 14:48] venth commented on #34
I found the solution. As I afore mentioned, I'll introduce the command: `awsr`

In order to use re-authentication mechanism just use `awsr` instead of the regular `aws` command. The example command: `awsr s3 ls`

The change is in the way.

[2017-09-17 19:48] venth commented on #34
`awsr` command line tool delivered with version: 0.3.13. @anthoneous please verify, if it works as intended.

[2017-09-17 19:49] venth commented on #52
Solved by keeping in synch with awscli, botocore and boto3 introduced in version 0.3.13

[2017-09-17 19:49] #52 closed

[2017-09-18 20:19] anthoneous commented on #34
Currently, not working in my first few tests but appears to be on the right track. Here's the error I received:

01:07 PM: > aws s3 ls
'--adfs-host' parameter must be supplied
Traceback (most recent call last):
  File "/Users/anthoneous/.pyenv/versions/2.7.13/bin/awsr", line 11, in <module>
    load_entry_point('aws-adfs==0.3.13', 'console_scripts', 'awsr')()
  File "/Users/anthoneous/.pyenv/versi

[2017-09-18 20:47] venth commented on #34
Hmm, I forgot that `awsr` can be used without prior usage of `aws-adfs` command. If adfs host will be missing then the command simply will ask for it.

[2017-09-18 22:49] anthoneous commented on #34
Forgot to add, I was already logged in with ```aws-adfs``` at 12:07pm and attempted to run the ```awsr``` command at 1:07pm.

[2017-09-19 06:51] venth commented on #34
Version 0.3.14 ready is ready :)

[2017-09-20 18:45] anthoneous commented on #34
Appears to be working correctly.

[2017-09-20 18:48] venth commented on #34
Could I ask to close this issue?

[2017-09-20 19:53] #34 closed

[2017-10-02 18:45] anthoneous opened #55 "When using two roles error: This account does not have access to any roles"
As of 0.3.14 it appears that you cannot choose a role if you have more than one assigned.
[code]

With only one role:
[code]

Version 0.3.3 with roles working:
[code]

[2017-10-02 18:58] anthoneous commented on #55
Appears to be related to https://github.com/venth/aws-adfs/issues/50. I just tested on version 0.3.9.

[2017-10-02 18:59] anthoneous commented on #55
python version 2.7.14 -- installed via pyenv.

[2017-10-02 19:11] venth commented on #55
I see that you use the default profile. Can you perform `aws-adfs reset —profile=default` before login?

[2017-10-02 22:30] anthoneous commented on #55
Resetting the profile has not resolved the issue.

[code]

[2017-10-03 04:12] venth commented on #55
Please send / paste the debug logs from login command (`aws-adfs —debug login —adfs-host=your.host`)

[2017-10-03 20:23] anthoneous commented on #55
I've attached the logs as requested.

[adfs-debug.log](https://github.com/venth/aws-adfs/files/1353749/adfs-debug.log)

[2017-10-03 20:25] anthoneous commented on #55
After reviewing the debug log, you can see that the roles are visible.

[2017-10-04 16:48] venth commented on #55
Thanks for the log. I'll look into it.

[2017-10-04 19:38] venth commented on #55
I thought, I found the case. Tests proved I was wrong. Investigation still in progress.

[2017-10-04 22:20] anthoneous commented on #55
Here's the new log for 0.3.16:
[code]

[2017-10-05 04:13] venth commented on #55
Thanks for the log.

[2017-10-05 04:51] venth commented on #55
I think that I narrowed and corrected the issue. Please, use version: 0.3.17. If the issue will prevail, please share the logs.

[2017-10-05 20:28] anthoneous commented on #55
Still no luck. I've uploaded the new logs.

[adfs-log.log](https://github.com/venth/aws-adfs/files/1360786/adfs-log.log)

[2017-10-06 04:40] venth commented on #55
Thanks to your patience I managed to identify the error causing scenario. An user with one or multiple roles grouped under one aws account cannot choose among its roles because of a wrong condition.
The fixed version is 0.3.18. Hope that this time for good :)

[2017-10-06 17:57] anthoneous commented on #55
This version has resolved the issue!

[2017-10-06 17:57] #55 closed

[2017-10-06 18:07] venth commented on #55
Thank you for your patience, @anthoneous. The issue was hard to find.

[2017-10-15 01:02] leoww11Ptr opened #57 "Error: Issues during redirection to aws roles page. The error response <Response [401]>"
aws-adfs version: 0.4.0
python: tried on 2.7,3.4, and 3.6
urllib3 version: (1.10.2)
setup: Duo 2FA, and multi-role account

I get this error after passing the 2FA with successful auth: "Going for aws roles".

Two requests follow: first being a POST to adfs with cookies set, which results in 302. the following request is a GET to adfs which "should" retrieve the aws sign in form, but does not in th

[2017-10-15 05:54] venth commented on #57
Hi @leoww11Ptr,

would you like to verify if a previous version works correctly? The previous version can be installed with: `pip install aws-adfs==<version to install>`.

If you could also share anonymized logs from version: 0.4.0 I would appreciate it. Please send the logs on my address: artur(dot)krysiak(dot)warszawa(at)gmail.com

[2017-10-15 11:04] leoww11Ptr commented on #57
Logs delivered.
tried the following versions with no success: 0.3.0, 0.3.3, 0.3.9, 0.3.18

[2017-11-13 17:04] pittjl opened #59 "SSL certificate verify failed even with --no-ssl-verification"
Windows 10, python 2.7.14. Get normal SSL warnings, then it bombs at the bottom.

aws-adfs login --adfs-host=login.xxxxxxxxx.com --no-ssl-verification

c:\users\jopittman\python27\lib\site-packages\urllib3\connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced

[2017-11-13 20:04] pittjl commented on #59
The answer on our end was to bypass SSL inspection on sts.amazonaws.com, and that made the code work. Not ideal, as turning off ssl verification should turn it off completely.

[2017-11-19 12:11] venth commented on #59
Sorry for late response. Which version of aws-adfs do you use? Would you like to share results of: `pip freeze` command? I’ll try to reproduce the issue.

[2017-11-19 12:19] venth commented on #50
This issue is already solved. The solving commit is: https://github.com/venth/aws-adfs/commit/2178cf54e4076262345907a54145a9be21ec1b51

[2017-11-19 12:19] #50 closed

[2017-11-19 12:22] venth commented on #37
Despite several tries I wasn’t able to setup adfs and duo security to access my private account. I cannot create environment resembling one you use reproduce the issue. I’ll keep the issue till I’ll figure out how to setup adfs and duo

[2017-11-19 12:24] venth commented on #57
Please try most recent version. There was a fix for windows machine delivered. I hope it will solve the issue for you as well.

[2017-11-19 20:22] leoww11Ptr commented on #57
Thank you, I will.

On Nov 19, 2017 7:24 AM, "Artur Krysiak" <notifications@github.com> wrote:

[2017-11-20 18:55] pittjl commented on #59
In the end it appears the issue was on totally on our end, and does involve trusting certificates of the various STS endpoints and IP's. I don't think there's anything you can do in code, as anything that relies on boto seems to bomb like this. I'll close this out.

[2017-11-20 18:55] #59 closed

[2017-11-21 05:09] venth commented on #59
Thank you for sharing the knowledge about sets endpoints and certificates 😀

[2017-11-22 17:56] eviln1 opened #60 "If env AWS_PROFILE or AWS_DEFAULT_PROFILE are set, a nonsensical provider_id is used."
Hi,
[code]

I have noticed that `aws-adfs` breaks when env var `AWS_PROFILE` (or `AWS_DEFAULT_PROFILE`) are set. `--debug` shows that the value of `AWS_PROFILE` replaces `provider_id`, which is used to construct the `_IDP_ENTRY_URL` :
https://github.com/venth/aws-adfs/blob/8ded19f79abac8957129c45cafb1465c740e563e/aws_adfs/prepare.py#L91-L92

I am not sure that `boto.session`'s value `profile` and

[2017-11-27 21:11] j-lowry opened #61 "Bump to botocore==1.8.2"
Looks like awscli and botocore got updated.

[2017-11-27 21:13] j-lowry opened #62 "Bump awscli to 1.12.2"
Both botocore and awscli got bumped, so installing does not work without the older packages.

[2017-11-28 06:55] venth commented on #61
upgrade released with version: 0.4.4

[2017-11-28 06:55] venth commented on #62
upgrade released with version: 0.4.4

[2017-11-30 15:59] pmoranga opened #63 "parameter --profile= should have precedence over environment variable"
When calling the login method, the --profile used for authentication should have precedence over environment variable.

[2017-12-02 05:41] #62 closed

[2017-12-02 05:41] #61 closed

[2017-12-02 05:45] venth commented on #63
This issue is related to #60

[2017-12-15 18:19] john-lowry opened #64 "Bump awscli and botocore versions"
- awscli to 1.14.10
 - botocore to 1.8.14

[2017-12-17 16:54] venth commented on #64
Bumped to:
* awscli 1.14.11 and
* botocore 1.8.15
* boto3 1.5.1

Released in version: 0.4.5

[2017-12-18 17:17] john-lowry commented on #64
Working, thank you.

[2017-12-18 17:17] #64 closed

[2017-12-20 00:45] worc opened #65 "aws-adfs installs with botocore-1.8.15, but requires botocore-1.8.17? both?"
I have a fresh install of Python 3.6.4 on Windows 10 and ran `pip install aws-adfs` and then tried running `aws-adfs` from the command line and ran into an error:

[code]

Looking back at the installation of `aws-adfs` I see that it downloads `botocore-1.8.15`:

[code]

So, thinking I'm looking at a version number mismatch, I ran `pip install --upgrade botocore` and `botocore-1.8.17` was installed

[2017-12-24 09:41] subiera commented on #65
Similar if not same issue on my end:

`Traceback (most recent call last):
  File "/usr/local/bin/aws-adfs", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/pkg_resources/__init__.py", line 3095, in <module>
    @_call_aside
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/li

[2017-12-24 10:11] venth commented on #65
Corrected in version of aws-adfs: 0.4.7

[2017-12-24 18:25] worc commented on #65
i've got aws-adfs 0.4.7 working now on both python 3.6.4 and 2.7.14 (work and home machines running windows 10). thanks!

[2017-12-24 18:25] #65 closed

[2017-12-24 18:41] venth commented on #65
👍

[2017-12-24 22:37] giafar opened #66 "Role arn passed as parameter to the login method"
Hi,
is not possibile to automate the login process to aws if the saml assertion has more than one role arn because of the role_chooser requires user prompt.
As an enachment the login method could have a role_arn input parameter passed to the role_chooser and in case of it is in the principal_roles collection it is returned as the one choosen.

Thanks for the great job !

[2018-01-03 18:55] anthoneous opened #68 "botocore VersionConflict issue"
It appears that after upgrading from 0.4.4 to 0.4.7 makes aws-adfs no longer work.

Downgrading to 0.4.4 (last working version) doesn't resolve the issue.

Setting up a new python environment doesn't resolve the issue either.

[code]

[2018-01-03 19:09] mark-kawakami-zefr commented on #68
Note that this isn't the same version conflict (though it is for the same dependency) as was resolved with #65.

Also, in this case, I'm seeing this running on a Mac

[2018-01-03 19:28] anthoneous commented on #68
It appears that the following versions are necessary to get a working version of aws-adfs working again.

[code]

[2018-01-03 20:36] venth commented on #68
Unfortunately I set version range for boto3 too wide. I've released version: 0.4.8 with:
* aws-cli version: 1.14.18
* boto3 version: 1.5.8 and
* botocore version: 1.8.22

[2018-01-03 21:31] anthoneous commented on #68
Issue is resolved in the latest version.

[2018-01-03 21:31] #68 closed

[2018-01-11 12:42] ndrwtrsk opened #69 "Errors while attempting to log in from windows 10"
I attempted to log in to aws through adfs on windows 10 using this glorious tool but got following error:

Error with verbose:
[code]

some info:
[code]

[2018-01-12 09:57] connesc commented on #66
Note that the role is only prompted for the first login, which also prompts for user credentials anyway. Once the profile is created, the role is stored and not prompted anymore.

[2018-01-13 16:08] giafar commented on #66
Yes you are right but in a automated building process I could switch from one role to another without user prompt and the role, at the moment, is not a param.

[2018-01-15 15:33] rucoetzer commented on #69
Any luck with this? I have exactly the same issue on my Win 10 machine.

[2018-01-16 22:39] venth commented on #69
It looks like the issue is related to native python library sspi and its windows implementation. I try different approaches to find workaround for the issue. In meanwhile I can provide in docker and docker-compose yaml files to authenticate with aws-adfs on Windows manchine with docker container and then use awscli directly in windows. Please let me know, if you’re interested.

[2018-01-18 10:07] connesc commented on #69
Same problem here on Windows 7.
Would the Docker approach be able to use SSPI anyway? Prompting for user credentials is not an option in my case.

[2018-01-18 15:36] ndrwtrsk commented on #69
Hello, with venth's great help I got it working. I'll post Dockerfile and docker-compose.yml that I use aswell as a powershell script to automate/shorten process a bit.

Dockerfile
[code]

docker-compose.yml - change {your_user} for you actual directory
[code]

aws-adfs-login.ps1
[code]

Now simply put Dockerfile and docker-compose.yml in one dir and fire off the script above while in this directo

[2018-01-27 15:09] venth commented on #69
Would you like to help me to diagnose the issue? There is a new version of: pypiwin32 library. The stack trace indicates that this library causes the issue. I hope that newest version of the library will solve the issue.
First, please provide results of:
`pip freeze` command
then please upgrade pypiwin32 library by using the command: `pip install --upgrade pypiwin32` and
try to use `aws-adfs login

[2018-01-27 16:17] giafar commented on #66
Thanks to Artur that merged the pull request #67

[2018-01-27 16:17] #66 closed

[2018-01-27 20:35] venth commented on #66
Released with version 0.5.0. Sorry @giafar that incorporating the change took so long.

[2018-01-28 10:53] yermulnik opened #70 "How to use "role-arn" parameter?"
There is a new `--role-arn TEXT                 Predefined role arn to select` parameter in recent release, but there's no mentions in the code except the `login.py` and `README.md`. So it's not clear how to use it and what value (str, pattern, regex, etc) it expects.

[2018-01-28 10:58] venth commented on #70
You’re right. Do you think that improving the help by an example would help to clear up the uncertainty?

[2018-01-28 11:10] yermulnik commented on #70
It definitely would. And a use case would help to understand what this parameter is for. E.g. user can specify which exact role to choose/list by default or which role will be selected/listed by default (I'm not sure I got this parameter's purpose correctly).
By the way we might benefit from this parameter to take the role name only instead of role's arn at large: it's a bit easier to remember the

[2018-01-28 11:49] ndrwtrsk commented on #69
I will try it first thing Monday morning when I have access to windows machine.

[2018-01-28 12:12] venth commented on #70
So, I believe we have here two issues:
- first about documentation improvement and
- second about extending login by additional parameter `—role-name`

[2018-01-28 21:00] yermulnik commented on #70
Yup, exactly! But I'd say `--role-arn` could be replaced with `--role-name` entirely as I suppose most of the people to prefer `name` comparing to `arn` as role arn always consists of a _static_ and _custom_ parts: `arn:aws:iam::<account_id>:role/` and `<role_name>` respectively. One another use case from my personal practice: I use `aws-adfs` to authenticate against a bunch of AWS accounts (in on

[2018-01-29 08:25] connesc commented on #69
I had already deleted my Python 3 install, so no `pip freeze` for me.
However, I confirm that `aws-adfs login` is now working on a fresh Python 3 install! :tada:

[2018-02-01 14:22] enmanueldeleonr opened #72 "Request for support for Fortitokken Auth Method"
I see you guys have Auth methods for Symantec and DUO, can we get it also for Forti?

[2018-02-03 13:15] venth commented on #72
Hi,

In order to support also Forti, I have to have access Forti test environment. If you have a vagrant machine with properly setup Forti and AWS or environment where I can play with Forti then I believe I can support Forti as well.

[2018-02-07 06:57] venth opened #73 "Extending login by additional parameter —role-name"
Forked from #70  How to user role-arn parameter?

[2018-02-07 06:59] venth commented on #70
@yermulnik, I've created #73 'Extending login by additional parameter —role-name' to move the discussion about --role-name parameter behavior to separate issue.

[2018-02-07 07:04] venth commented on #73
@yermulnik, so let me rephrase your use case. We have situation as follows:
- arn:aws:iam::11111111111:role/ReadonlyRole
- arn:aws:iam::33333333:role/AwsomeRole
- arn:aws:iam::33333333:role/ReadonlyRole
- arn:aws:iam::777777777:role/AwsomeRole
- arn:aws:iam::55555555:role/AwsomeRole

When you use the command: `aws-adfs login --role-name AwsomeRole ...` you want to be authenticated with this role i

[2018-02-07 07:18] venth commented on #70
Released with version 0.6.1

[2018-02-07 15:08] yermulnik commented on #73
@venth Yes, **exactly**.

Another consequent use case:
[code]
And use `aws-adfs login --role-name AwsomeRole --role-name SomeOtherRole ...` to be authenticated in accounts: 22222222, 33333333, 77777777, and 55555555. But this has to be elaborated for cases where `AwsomeRole` and `SomeOtherRole` are available in one account. But this case seems to be quite rare for vast majority of users so can be

[2018-02-08 19:50] venth commented on #70
Does it look good? Could you close it?

[2018-02-08 20:57] yermulnik commented on #70
Oh, excuses. Yes, it looks good now. Thank you.

[2018-02-08 20:57] #70 closed

[2018-02-08 20:57] venth commented on #73
There is an issue with the way how AWS SDK stores and reads authentication metadata. When a AWS session is authentication, the authentication metadata are stored within a specific profile, if it's provided, or the default one.

Authentication of multiple roles is feasible and required a separate aws profile per role. In other words, when you authenticate multiple roles, the last one will preserve

[2018-02-08 21:37] yermulnik commented on #73
Oh, I mentioned that in another issue, though not sure I did it with proper details: I'm using your tool (and it's a brilliant tool!) with some _homemade_ patches of mine and all auth data is saved to profiles named after accounts aliases (separate profile for each account). My everyday duties involve working with multiple accounts in the same time-frame, so it's just a matter of convenience to ha

[2018-02-13 08:07] venth commented on #73
Thanks for the explanation ;) I forgot to copy your reasoning from the former issue - #70.
 Let's sum up.

The goal of this change is to authenticate simultaneously multiple AWS Roles which share the same account id (role_arn: `arn:aws:iam::<account-id>:role/<role-name>`). Each authenticated session metadata is stored in separate AWS profile. AWS Profile name is generated based on schema: `<role_n

[2018-02-13 08:48] yermulnik commented on #73
The main goal for me is to be able to authenticate simultaneously multiple AWS accounts which share the same Role name. To authenticate simultaneously multiple AWS Roles which share the same account id is pretty much secondary, rarely used, and I don't think would be popular for vast majority of users.

I personally would prefer profiles names to simply be the same as account alias: first element

[2018-02-16 15:09] greensmith commented on #69
Hi I'm getting the same error running on a Windows 7 machine,

Python 3.6.3, pip 9.0.1, aws-adfs 0.6.1 & aws-cli 1.14.40.

pip is telling me that pypiwin32 is up-to-date.

I'm using the container work around  for now.

[2018-02-16 15:20] venth commented on #69
@greensmith, please, paste the results of `pip freeze` command.

[2018-02-16 15:23] greensmith commented on #69
asn1crypto==0.24.0
aws-adfs==0.6.1
awscli==1.14.22
boto3==1.5.12
botocore==1.8.26
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
colorama==0.3.7
configparser==3.5.0
cryptography==2.1.4
docutils==0.14
idna==2.6
isapi-wsgi==0.4.2
jmespath==0.9.3
lxml==4.1.1
pyasn1==0.4.2
pycparser==2.18
pyOpenSSL==17.5.0
pypiwin32==220
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.4
requests-negotiat

[2018-02-16 15:39] venth commented on #69
@greensmith, please, try to downgrade pypiwin32 by execution command: `pip install "pypiwin32==219"`

[2018-02-16 16:03] venth commented on #60
From the [documentation](http://boto.cloudhackers.com/en/latest/ref/sts.html):
[code]

It seems that I wrongly provide there aws profile.

[2018-02-16 16:06] greensmith commented on #69
219 doesn't seem to be compatible with Python 3.6.

Pip will only install 220.

I can download the 222 whl from https://pypi.python.org/pypi/pywin32 and install that - but I still get the same year out of range error.

[2018-02-16 16:11] venth commented on #69
The direct cause of the issue is pypiwin32 library or changes in Windows SDK wrapped by this library. This library is used by requests-negotiate-sspi. I wonder which version of pypiwin32 works correctly. Unfortunately I don't have access to windows machine to perform necessary research. My hope was that the version 219 will work.

[2018-02-16 16:23] greensmith commented on #69
No worries, the docker workaround is suitable for my needs at the moment.
Maybe if I get more time I can look into this in more detail.

[2018-02-16 19:13] venth commented on #63
Released in version: 0.7.0

[2018-02-16 19:14] venth commented on #60
Fix released in version: 0.7.0

[2018-02-16 19:15] venth commented on #37
Please reopen, if the bug still exists

[2018-02-16 19:15] #37 closed

[2018-02-16 19:17] venth commented on #33
Cannot setup DUO to test the solution.

[2018-02-16 19:17] #33 closed

[2018-02-16 19:17] venth commented on #40
Cannot setup DUO to test the solution.

[2018-02-16 19:17] #40 closed

[2018-02-16 19:18] venth commented on #57
@leoww11Ptr any success with the most recent version?

[2018-02-26 00:18] leonj opened #74 "Failed to authenticate after ADFS upgrade from Ver3.0 to Ver4.0"
Python 3.5.2
ADFS version 4.0
Symantec VIP MFA provider

-----------

This CLI script has been working seamlessly with Symantec VIP as MFA provider on ADFS version 3.0, unfortunately our recent upgrade of ADFS to version 4.0 seem to have broke the script somewhere.

Current Situation with ADFS version 4.0,
- Access to the AWS management console via web browser works perfectly fine.
- The CLI scrip

[2018-02-26 04:51] venth commented on #74
Hi, no one yet reported it. Would you like to provide anonymized debug output?

[2018-02-26 20:43] jimweller opened #75 "Requirements? botocore, boto3, and awscli downgrades?"
We're looking at using aws-adfs @ REI.

As it stands, aws-adfs forces downgrades of awscli, botocore, and boto3. The downgrade is a problem for us.

I think this is unnecessary. I just made a change in setup.py to >= and it all works fine in a venv. Is there a reason for the older versions that I am missing?  Thoughts on changing it to just allow for current releases?

setup.py
[code]

Here's my p

[2018-02-27 05:15] venth commented on #75
The issue cause is versioning in aws-cli. Take a look on the fragment of setup.py from aws-cli project:
[code]
`aws-cli` requires specific version of `botocore` library and it looks that doesn't follow semver guide lines. Both this facts make hard to introduce version ranges for `awscli` and `boto3` relies on `botocore` library.

`aws-cli` dependency was introduced to provide aws command repetitio

[2018-02-27 17:12] jimweller commented on #75
Thank you for the clear explanation. I understand now. Our use case (per the printenv PR) doesn't require refreshing tokens with awsr. And we're using the aws.exe from the AWS download (vs. the pip repo). So, removing the aws-cli dependencies seems logical on the surface. Or maybe approaching awsr w/ the assumption that the aws command is already in the PATH and shelling out to it instead of using

[2018-02-28 12:26] jacobleonwoffenden opened #77 "NO_PROXY Environment Variable"
Hi,

I'm trying to use `aws-adfs` on macOS 10.13.2, however I keep getting the following error:
[code]

In my previous attempts at using the `samlapi.py` script that [AWS provide](https://aws.amazon.com/blogs/security/how-to-implement-federated-api-and-cli-access-using-saml-2-0-and-ad-fs/), I got around the proxy by using `session.trust_env = False`

To get cURL working with the ADFS server, I nee

[2018-02-28 12:54] venth commented on #77
Currently session property: trust_env isn't setup. Till the support is added please consider to use docker workaround described here: https://github.com/venth/aws-adfs/issues/69

[2018-02-28 12:56] venth commented on #75
`awsr` is installed along with aws-adfs and relies on awscli. Providing shell scripts for each end every console among all OS'es looks like huge work.
I'll consider removal of awsr. In a meanwhile I'll upgrade dependencies.

[2018-03-01 18:48] venth commented on #75
New version of boto3 and botocore along with removal of awsr released with version 0.8.0

[2018-03-05 15:46] levequej opened #78 "Feature request / security : read username and password from file"
Hello,
Rather than --stdin or --env, I'd like to have the possibility to read password from a file for security reasons (no password  in  command line or in environment variables).

Thanks

[2018-03-05 16:28] venth commented on #75
Can I close this one?

[2018-03-05 17:26] jimweller commented on #75
Yes. Thank you!

[2018-03-05 18:47] #75 closed

[2018-03-06 06:05] leonj commented on #74
Hi Venth,

Apologies for the deplay.
Please see below are captures with debug enabled.

[webservices2-vip.txt](https://github.com/venth/aws-adfs/files/1783713/webservices2-vip.txt)  - endpoint with VIP enabled
[webservices-non-vip.txt](https://github.com/venth/aws-adfs/files/1783714/webservices-non-vip.txt)  - endpoint without VIP enabled

Any feedbacks are appreciated.

Thanks in advance.

Leon

[2018-03-16 09:30] dimiskier opened #79 "Support for LinOTP MFA, some issues"
Hi, we have ADFS v4 and LINOTP MFA integration,
We have been previously using a version of the [AWS Tool](https://aws.amazon.com/blogs/security/how-to-implement-federated-api-and-cli-access-using-saml-2-0-and-ad-fs/) that i modified to submit the challenge response token, but it has broken since the update to ADFS 4.

Some questions,
1) has anyone used ADFS v4 and LinOTP MFA? I read somewhere here

[2018-03-20 08:45] dimiskier commented on #79
just wanted to update this, ive managed to see the error in my ways and get past the connection errors above by properly formatting my command, but im still stuck on the LinOTP 2FA part... can anyone help? is there a particular way to pass the token? ive tried adding it like "password,token" but no luck

2018-03-20 09:30:39,853 [authenticator authenticator.py:authenticate] [4876-MainProcess] [1400

[2018-03-20 11:36] venth commented on #79
Could we schedule a talk over hangouts? What do you think?

[2018-03-20 12:16] dimiskier commented on #79
perfect! im PM you

[2018-03-20 13:48] dimiskier commented on #79
ok, looks like i cant PM here anymore, how can i contact you?

[2018-03-20 15:23] venth commented on #79
artur(dot)krysiak(dot)warszawa(at)gmail(dot)com

[2018-03-23 05:14] varxy20k opened #80 "Duo authenticator status code calling"
Hi, I'm trying to use this but I have my duo settings to call my phone by default instead of sending a push notification, because I don't want to install the duo application on my cellphone. The status code in that case is "calling" instead of "pushed", so I'm thinking this can be fixed by also accepting a status code of "calling".

https://github.com/venth/aws-adfs/blob/45b99291977fa5170e246e0843

[2018-03-25 23:38] leonj commented on #74
Hi Venth,

The issue is actually within MS MFA Server ADFS Adapter, it doesn't handle cultures that are not associated with an lcid (Windows Language Code Identifier).  We've resolved the issue by adding EN-US to the top of the list as advised by MS.

Below is the summary for reference if anyone ever encountered the same issue.

**Symptom:**
============================================
AWS CLI too

[2018-03-27 16:13] imtpalmer opened #81 "This account does not have access to any roles"
Running Python 3.6.4 on windows (git bash) aws-adfs failing to authenticate

CMD>  winpty aws-adfs login --adfs-host=adfsp.host.com --region=us-east-1 --no-ssl-verification

2018-03-27 11:42:12,888 [connectionpool connectionpool.py:_make_request] [1564-MainProcess] [8872-MainThread] - DEBUG: https://adfsp.host.com:443 "POST /adfs/ls/IdpInitiatedSignOn.aspx?loginToRp=urn:amazon:webservices HTTP/1.1

[2018-03-28 04:09] venth commented on #74
Thanks @leonj for the insight, I would use your description for the known issue section, if I may.

[2018-03-28 04:10] venth commented on #81
Hi, it seems that adfs server encountered an unexpected error - at least that indicates the status 500. Please take a look at https://github.com/venth/aws-adfs/issues/74
I think that it's related to yours case

[2018-03-30 18:58] steveubiera opened #82 "Incorporating the new CLI/API session duration functionality"
AWS recently introduced the ability to extend Federated CLI/API session duration:

https://aws.amazon.com/blogs/security/enable-federated-api-access-to-your-aws-resources-for-up-to-12-hours-using-iam-roles/

Is this a feature that can be incorporated?

[2018-03-31 05:38] venth commented on #82
There is an attempt which result is presented on a very old branch: https://github.com/venth/aws-adfs/tree/feature/STS-token-duration
I think that now, I can integrate it into source code. The token duration is set by value got from adfs server.

Linked issues:
* https://github.com/venth/aws-adfs/pull/36
* https://github.com/venth/aws-adfs/issues/17

[2018-04-03 01:59] anthoneous commented on #82
Should be done in the new PR:
https://github.com/venth/aws-adfs/pull/84

[2018-04-04 15:24] narendergakka opened #85 "After login, when selecting a role throws the below error"
Using the command to login to the "aws-adfs login --adfs-host=domain.domain.com  --no-ssl-verification" however after it successfully authenticates against the domain and displays the roles available, the Role selection throws the below error,

Does anyone know why this behaviour?

Selection: 0
Traceback (most recent call last):
  File "/usr/local/bin/aws-adfs", line 9, in <module>
    load_entry_

[2018-04-08 20:05] KyleJamesWalker commented on #80
Fixed in #83

[2018-04-09 18:05] venth commented on #82
Delivered in the version 0.9.0

[2018-04-09 18:06] venth commented on #80
Delivered with the version: 0.9.1

[2018-04-11 20:57] KyleJamesWalker opened #86 "Default Profile"
Why does the following line us `default123`?

https://github.com/venth/aws-adfs/blob/47fdb05c0e7bce10012074f746ca7eec285082dd/aws_adfs/prepare.py#L40

The documentation states it should use `default`, it seems like the tool is using `default` for most people in our office, except one person it always uses `default123` unless the `--profile` option is passed.

[2018-04-11 21:00] KyleJamesWalker commented on #86
Update: It looks like if you wipe out the profiles (or don't have a default) it will use `default123` but if there's a default it will use default.  **possibly**

[2018-04-11 21:43] kwhitlock commented on #86
Looks like it if no profile is specified, it tries to find `default123` in your profile, which, if not present will get caught by the exception, where by it will try to use the profile `default` if present.

[2018-04-11 22:51] KyleJamesWalker commented on #86
The odd thing is I deleted the default123 and it keeps coming back which was driving me crazy.

[2018-04-19 15:40] leonardo-test opened #91 "Using the environment and stdin parameters"
I'm not sure if this is normal but when I try to use the --env parameter it goes to Username and doesn't automatically login. I've already set my username and password parameters.

aws-adfs login --adfs-host=example --no-ssl-verification --role-arn arn:aws:iam::example --env

`/usr/local/lib/python2.7/dist-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is

[2018-04-25 06:43] steveubiera commented on #82
Awesome!

[2018-04-25 06:43] #82 closed

[2018-05-04 00:24] tdelov commented on #74
I have the same problem, it only affects Windows.
Linux and OSX authenticate without issue.
Do you think the solution suggest with the "MS MFA Server ADFS Adapter" still applies?

PS C:\Users\td > aws-adfs login  --adfs-host=login.XXXX.edu --profile defualt  --region ap-southeast2
2018-05-04 09:28:24,178 [authenticator authenticator.py:authenticate] [4500-MainProcess] [3856-MainThread] - ERROR: Ca

[2018-05-04 03:54] venth commented on #74
It’s worthy to try.

[2018-05-09 15:54] avoidik opened #93 "Symantec VIP has obfuscated form"
Web-page scraping doesn't work

[2018-05-09 15:55] avoidik commented on #93
Workaround
https://github.com/venth/aws-adfs/pull/92

[2018-05-09 18:28] imtpalmer opened #94 "pywin32-223"
On Windows 10, Python 3.

Traceback (most recent call last):
  File "C:\Anaconda3\x64\Scripts\aws-adfs-script.py", line 11, in <module>
    load_entry_point('aws-adfs==0.10.1', 'console_scripts', 'aws-adfs')()
  File "C:\Anaconda3\x64\lib\site-packages\click\core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "C:\Anaconda3\x64\lib\site-packages\click\core.py", line 697, in

[2018-05-10 04:28] venth commented on #94
It's a transitive dependency of `aws-adfs`. `py-win32` comes with `requests-negotiate-sspi` which is the direct dependency.

[2018-05-10 17:15] venth commented on #93
The pull request was released with version: 0.11.0

[2018-05-10 17:27] venth commented on #81
Closed because of no response.

[2018-05-10 17:27] #81 closed

[2018-05-11 09:27] venth commented on #94
It's [reported](https://sourceforge.net/p/pywin32/bugs/748/). Unfortunately it's still open.

[2018-05-16 15:34] #93 closed

[2018-05-25 00:54] max-nearmap commented on #57
Hi @venth and @leoww11Ptr ,
having same issue on windows 10 with aws-adfs `v0.11.0`, logs are pretty consistent with @leoww11Ptr 's ones. Did you manage to solve the issue?
Cheers

[2018-05-25 04:02] venth commented on #57
Unfortunately I didn’t manage to solve it. I don’t have access to windows machine. Perhaps do you want to use workaround with docker? I can provide Dockerfile or compose with aws-adfs installed, which will interact with windows and let you overcome currrent issue.

[2018-05-25 06:33] max-nearmap commented on #57
ok tx @venth, please provide both
cheers

[2018-05-29 02:09] max-nearmap commented on #57
@venth this is my contact max[dot]guglielmi[at]nearmap[dot]com
cheers

[2018-05-30 15:55] christieno123 opened #98 "This account does not have access to any roles"
Running ver 0.11.0, I appear to be authenticating successfully (ADFS 3.0 w/ DUO), but get the following:

[code]

The DEBUG logs show the roles, but I'm never prompted to choose:
[code]
Any guidance would be appreciated.

Thanks!

[2018-05-31 15:19] jwalsh2NU commented on #74
I just ran into this problem as well.  @tdelov did you find the fix, was it the Language settings?

[2018-06-06 20:53] tdelov commented on #74
@jwalsh2NU I have not had a chance to test the language settings.

[2018-06-08 19:42] pquackenbush commented on #91
I found in `login.login` unless you are using the `--authfile` flag, `_get_user_credentials(config)` will always be called.  My suggestion would be to convert the chain of ifs into a single if-elif-elif-else.  This allowed me to successfully log into our adfs-host.

Possible problem code:
[code]

[2018-06-09 11:44] venth commented on #98
I think that the issue is related to an error during page scrapping. If I could ask you to send me whole debug log via email, then I could have better insight and try to find fix.

[2018-06-09 22:58] christieno123 commented on #98
Debug log attached.

Thanks for looking into this!

On Sat, Jun 9, 2018 at 4:44 AM, Artur Krysiak <notifications@github.com>
wrote:

$ aws-adfs  --verbose login --adfs-host=<adfs_fqdn.com> --provider-id=urn:amazon:webservices
2018-06-09 15:45:55,403 [session session.py:get_config_variable] [62850-MainProcess] [140735887676288-MainThread] - DEBUG: Loading variable profile from instance vars with va

[2018-06-10 11:08] venth commented on #98
Thanks @christieno for the log. I downloaded it and removed it from the issue.

[2018-06-20 23:36] #86 closed

[2018-06-21 10:54] ohuk2 opened #100 "Should requests_negotiate_sspi work on a Linux box?"
Hello, WIA works fine on Windows, but I tried to domain join an Amazon Linux box with aws-adfs to see if WIA works there. Unfortunately it looks like that only is supposed to work on windows, from the comment below, correct...? The aws-adfs setup.py checks if we're on windows and if so it adds it to the requirements list, however if I try to pip install it myself on Linux I get that a version coul

[2018-07-12 16:22] brodie11 opened #102 "GovCloud Initial Login"
I am trying to set my initial profile for a GovCloud account.  There is currently only a single region us-gov-west-1, but the namespaces are different (ie: amazonaws-us-gov.com vs amazonaws.com).  When I issue this command:

aws-adfs login --adfs-host fs.domainname --profile govcloud-master --region us-gov-west-1 --provider
-id urn:amazon:webservices:govcloud

I receive back this error:
botocore.e

[2018-07-24 18:52] christieno123 commented on #98
Anything useful in the debug logs?  I've update to the latest version and
still seeing the same issue.

*...*
*2018-07-24 11:52:08,981 [authenticator authenticator.py:authenticate]
[61805-MainProcess] [140735761113984-MainThread] - DEBUG: Roles along with
principals found after authentication: {}*
*This account does not have access to any roles*

On Sun, Jun 10, 2018 at 4:08 AM, Artur Krysiak <not

[2018-07-27 16:13] abohne commented on #57
Any progress on this issue?  I'm running into it here.
aws-adfs (0.12.0)
duo mfa

Our setup worked fine with aws-adfs until we enabled duo.

[2018-07-27 16:22] venth commented on #57
Hi,

Sorry for the lack of response. I was pretty busy. Now, I started my vacations, so I count to have more time for aws-adfs.

[2018-07-27 20:37] ANTGOMEZ opened #104 "Error: Python has stopped working when running aws-adfs"
Just installed aws-adf.
I run this command: `aws-adfs login --profile=my-profile --region=us-east-1 --adfs-host=fsx.host.com`
in windows, and immediately a window pops up saying: Python has stopped working.

I am running Python37 (32), tried re-installing python and same issue.

Any ideas?

[2018-07-27 21:06] #104 closed

[2018-07-27 21:07] ANTGOMEZ commented on #104
Uninstalled Python, reinstalled to different folder, worked this time.

[2018-07-30 13:05] #91 closed

[2018-08-23 23:12] lukaalex opened #105 "Duo Authentication Issue"
It appears that Duo is no longer sending a response with the key 'cookie' . I'm just wondering if others have run into this issue on ADFS4.0 and Duo.

[code]

[2018-08-23 23:58] ronaldmexico commented on #105
Seeing the same issue.

[2018-08-24 00:10] lukaalex commented on #105
Does anyone happen to have a working version with ADFS4.0 and Duo?  I would like to see the format of the data in `auth_signature = response.json()['response']['cookie']`

[2018-08-24 02:29] josh-at-imperva commented on #105
same issue as well... not sure if Duo changed something or there's a communication issue or what... but I can log into Duo + ADFS other ways just fine

[2018-08-24 04:37] venth commented on #105
Currently I don’t have access to an instance of adfs which is integrated with Duo, unfortunately. I’ve thought that instead of page scrapping I could use adfs api to gain authentication token. The python library is described here: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-authentication-libraries

Then probably all second factor authentication providers can b

[2018-08-24 18:45] bghinkle commented on #105
The above pull request fixes the issue - basically we need to follow a result URL that's provided from the initial authentication, and that result URL provides the cookie for the authentication result.

[2018-08-25 08:30] #105 closed

[2018-08-28 15:05] pkccd commented on #85
I am having the same issue with one of my accounts on version 12 of the aws-adfs script.  I recreated the roles and even created additional roles in that particular account and it continues.  Works fine via ADFS Idpinitiated signon page.

Traceback (most recent call last):
  File "/usr/bin/aws-adfs", line 9, in <module>
    load_entry_point('aws-adfs==0.12.0', 'console_scripts', 'aws-adfs')()
  Fi

[2018-08-28 15:30] pkccd commented on #85
@narendergakka Check the claim rules on the sso provider and ensure there are no typographical errors.  We have a RegExReplace in our claim rule and there as a space in front of the ARN that was causing the same error.

[2018-08-29 20:54] abohne commented on #57
@venth Any updates here?

[2018-09-13 20:35] abohne commented on #57
@venth ?

[2018-09-14 04:36] venth commented on #57
Sorry for the delay. During summer time I’ve checked few scenarios. Unfortunately none of them gave me a clue about the cause of your trouble. Perhaps we could meet over zoom or teamwork to nail the issue?

[2018-09-26 19:41] abohne commented on #57
I'd be happy to do a zoom session with you.

[2018-10-25 11:13] trobert2 commented on #74
hi, I am just having the same issue. Is there any progress here?

[2018-10-25 18:18] trobert2 commented on #74
@tdelov thanks for replying. Any hints to what he updated?
is it using `SymantecVipAdapter` still or `VIPAuthenticationProviderUPN` as the auth method?

[2018-11-05 14:49] dja-fr commented on #98
Hello,

I have the same issue on windows 10 , python 3 & aws-adfs 1.12.2.

`2018-11-05 12:00:53,353 [authenticator authenticator.py:authenticate] [13864-MainProcess] [13620-MainThread] - ERROR: Cannot extract saml assertion. Re-authentication needed?`
`2018-11-05 12:00:53,353 [authenticator authenticator.py:authenticate] [13864-MainProcess] [13620-MainThread] - DEBUG: Roles along with principals f

[2018-11-09 02:23] rrkraft opened #108 "Issues with login"
When I try to use it I get the proper notification on my phone to approve the login but the application doesn't wait but gives me this error:

aws-adfs login  --env --adfs-host sso.XXXXXX.com
2018-11-08 21:18:07,852 [authenticator authenticator.py:authenticate] [18295-MainProcess] [139640110843712-MainThread] - ERROR: Cannot extract saml assertion. Re-authentication needed?
2018-11-08 21:18:10,206

[2018-11-16 10:22] 1605200517 commented on #108
I can confirm exactly same behavior with:

Xubuntu LTS 18.05
Python 3.6.6
aws-adfs 1.12.2
aws/cli 1.14.44

@rrkraft though first check whether your "normal" web UI login works, as in my case I see though role selection displayed in the browser but after choosing one I get access denied. So that could be an issue with the identity provider configuration. Sure, not clear why aws-adfs doesn't list ro

[2018-11-16 10:34] 1605200517 opened #109 "PKCS #11 support for PIN smartcard MFA"
While it is possible to login for example to an ADFS site with a smartcard with token, how would it look like with aws-adfs?

I have found so far [PyKCS](https://github.com/LudovicRousseau/PyKCS11) but where to start to integrate both?

[2018-11-27 12:46] havmaage opened #110 "help wanted amaxon s3 bucket firewall settings"
I need to run aws-adfs from within a closed network. Which hosts and port on amazon should iroute to in my firewall to obtain login from aws-adfs. I presume port 443 but is there a particular host/ip
Best regards Simon

[2018-12-12 08:48] tianci86 opened #112 "integration to aws credential_process"
Hi,

I am trying to integrate to AWS CodeCommit. Whenever the user performs a git pull, it would authenticate with AD FS and STS and use the token to access CodeCommit. I would seek your help on this implementation.

Unfortunately, I have tried a few commands but i could not get it working

This is the configuration i have set inside my .aws/config file. I have also tried without --stdout but to n

[2018-12-14 18:38] jcsmith opened #113 "Ability to use environment variable to specify adfs host"
We would find it useful to specify the adfs host by by setting an environment variable.

[2018-12-20 03:45] akr257 opened #114 "Support for SMS tokens"
Hi,
The current version works fine when a user has an App based RSA or a Hard token. The current behaviour is:

- User inputs their 4-8 digit PIN + token on the RSA Mobile App (or Hard Token)
- User is logged in

This however fails if the user has a SMS Token as the user log in process is different:

- User inputs their 4-8 digit RSA PIN
- User receives an SMS token on their mobile phone - user en

[2019-01-04 08:55] JackOneil commented on #108
I have the same problem. I have tried different methods of authentication (push to phone, sms, call) as the sms is waiting for user input of the code, push notification only sends request to allow or deny access and it does not work too.
Strange is that when i enter username, push is sent and when i enter password, another push is sent (tried to allow them before i put password but no success)

[2019-02-15 13:09] 1605200517 opened #116 "Auth and/or connectivity problems with ADFS 2016?"
With the latest version of aws-adfs, 1.12.3, and ADFS2016, I get the following output.

(enter credentials)
[code]

On the server side, there are no logs; "normal" UI account login works well and display available AWS roles.

Is it possible to enable some a verbose debug mode for aws-adfs to better understand what's exactly happening here?

[2019-03-27 16:18] #53 closed

[2019-04-10 18:53] Eno423 opened #118 "Help Wanted: ADFS3.0 +AWS-ADFS 1.13.0"
Hello

I have been testing / setting up our integration of our AD to AWS for some time.

I have ADFS Auth /aws using a web browser using Server.domain.com/adfs/ls/IdpInitiatedSignon.aspx
Depending on if they are members of multiple AWS related ACLs; they get the AWS page to choose their role/account they want access to.
Users who only have 1 role, after authing to ADFS they are directly in the con

[2019-04-10 19:50] Eno423 commented on #116
I have a similar issue, but using ADFS 3.0 (2012 r2)

I know you can run aws-adfs -v -the rest of your switches

the -v should do a verbose.

[2019-04-10 19:55] Eno423 commented on #116
Also I wanted to ask you 2 things,

1) do you currently have MFA required on the relying party for AWS?
      I have / had it (w/ MFA) working with the browser but decided to remove that variable from the mix as I tested this out, & part of me wonders if me not requiring MFA, but AWS-ADFS IS expecting some form of MFA thus causing my issue...(not sure)

2) how are you connecting your ADFS to AWS?

[2019-05-03 13:56] lmontanag commented on #98
Hi Guys, hope everything is going well

I am having the same issue with the aws-adfs package.

Once I am authenticated, all the new profiles in the [~/.aws/config] file  are being created with
`adfs_config.adfs_user = None`

This is ok while the cookie still valid, but when it is expired I got the same error message

2019-05-03 14:27:59,583 [authenticator authenticator.py:authenticate] [44848-Main

[2019-05-17 11:23] kanijoo commented on #79
How integrate LinOTP with AD FS V4.0 and aws you have some doc can help me  plz ?

[2019-05-30 05:36] rinrinne opened #123 "Support AWS_DEFAULT_PROFILE"
aws-adfs seems not to refer AWS_DEFAULT_PROFILE as default value of --profile option.

AWS CLI gets default profile from AWS_DEFAULT_PROFILE if defined.
Otherwise profile "default" is used.

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html#using-profiles

I know botocore supports AWS_PROFILE. session.profile can have the same value as AWS_PROFILE if no --profile option

[2019-07-11 14:30] kfattig commented on #118
Try messing with --sspi / --no-sspi now.  I had similar troubles prior to this PR, which changes how '--no-sspi' is handled:
https://github.com/venth/aws-adfs/pull/125

[2019-07-11 21:47] twillowman opened #126 "Failure in Duo module in v1.17.0"
Once I upgraded aws-adfs to v1.17.0 (via pip), I get errors extracting roles from response as I never get a Duo prompt to approve.

[code]

Let me know what information I can collect, and how to get verbose output from aws-adfs.

OS: MacOS 10.14.5. Also happens with Ubuntu 18.04.
Python version: 3.6.8
aws-adfs version with error: 1.17.0 from pip
ADFS version 4.0 (10.0.14393.3053) (Windows Server 2

[2019-07-16 18:05] mbcmike commented on #126
I have the same problem with v1.17.0. When I revert back to v1.16.0 everything is work fine again.

[2019-07-18 20:37] kfattig commented on #126
Reviewing the changes in [1.17.0](https://github.com/venth/aws-adfs/compare/v1.16.0...1.17.0), I don't see anything that should impact Duo, but I don't have a Duo environment to test against.

Can one/both of you try clearing out existing settings, logging in with '-v' flag, and report back (be sure to review for 'sensitive' information before posting):
[code]

That will give a better idea of what

[2019-07-22 18:00] twillowman commented on #126
I agree it is strange. Below is the output with the -v flag.

I'm pretty sure the duo auth module it not getting invoked when it should. Strange though because it works with everything up through v1.16.

[code]

[2019-07-22 19:03] kfattig commented on #126
Thanks @twillowman.  I think you're correct - the code that parses an HTML response for duo related objects is not being called.  It's only run when a [200 response is received](https://github.com/venth/aws-adfs/blob/345356c560d1ba97354df9c9eaedf14e44b092e1/aws_adfs/authenticator.py#L30). You're getting 401's, so there is no body to parse.

I suspect its something in the request header - Do you kn

[2019-07-22 19:25] twillowman commented on #126
Yeah - the reset and rm should have removed all cookies. And I can change aws-adfs back to v1.16.0 and run the same commands and I get a 200 and it works without error.

[code]
And then it prompts for user / password and I get a duo prompt and it works.

[2019-07-22 19:32] twillowman commented on #126
Sorry - to answer your question I have no idea where that cookie might be coming from. The rm certainly removes the adfs_cookies file within ~/.aws/

This was ran after a successful login with v1.16:

[code]

I think you might be onto something with the request header. This error is happening for everyone at my company, MacOS and Linux (aws-adfs hasn't worked with Duo on Windows for a while).

Any

[2019-07-22 20:20] kfattig commented on #126
The user-agent header you're sending is different (python-requests), and the code that controls that [was changed](https://github.com/venth/aws-adfs/commit/79a9c69afaf14daa79b2e449710168f7737fdbab#diff-b3c9fbac216c9c04f8cf8b4de2042751).

Can you try specifying '--no-sspi' at the command line? That should get you the python-requests header again.

[2019-07-22 22:19] twillowman commented on #126
After clearing old cookies and doing a profile reset, it works as long as I include the `--no-sspi` flag. Thank you very much for the prompt help!

I'll close this issue. If you have time for a follow-up question; what is the no-sspi flag really doing? Is it less secure in some way?

[2019-07-22 22:21] #126 closed

[2019-07-23 14:04] kfattig commented on #126
SSPI is a collection of[ windows native authentication protocols](https://en.wikipedia.org/wiki/Security_Support_Provider_Interface).  In our case it allows windows users that are logged into a domain joined machine to authenticate seamlessly without re-entering credentials.

This functionality was added a [while back](https://github.com/venth/aws-adfs/commit/67ec2517def3da058184c319fb1bd811718556

[2019-07-23 14:06] kfattig commented on #126
@mbcmike Please try setting '--no-sspi' and see if it fixes the issue for you as well

@twillowman You mentioned this utility has been broken for a while on Windows in your environment.  Perhaps the SSPI change mentioned above inadvertently broke it?  If you've got the bandwidth try setting '--no-sspi' on Windows and see what you get.

[2019-07-23 14:23] mbcmike commented on #126
Yes that fixes it for me as well. Thanks.

[2019-07-31 14:25] mighteemouse commented on #57
I am running into this 401 issue after Duo MFA on Windows as well. Is there a workaround in Docker at this time?

[2019-07-31 14:59] slyoldfox commented on #57
@mighteemouse we have put together a docker image for our employees that use windows.

[code]

Note that we don't provide support for this image in anyway way and use it at your own risk.

[2019-07-31 19:17] kellermartin13 opened #128 "ERROR: Cannot extract roles from response"
I'm just setting up aws-adfs for the first time, and I'm getting this error before and after the username/password prompt:
[code]
This is happening regardless of the username or password I use. I haven't seen this error posted anywhere else. I see in the code this error comes up when the response != 200. I'm not receiving any push from DUO, so it doesn't seem like it's authenticating against LDAP.

[2019-07-31 20:44] kellermartin13 commented on #128
Update for anyone stumbling across this: I was able to fix this by adding the flag "--no-sspi" to the end of the aws-adfs login request.
[code]
I'd link the documentation on this, but I don't know if it exists. Hope this helps someone!

[2019-07-31 20:44] #128 closed

[2019-08-01 12:51] jbuettnerbild commented on #98
I had the same problem. With --no-sspi its works.

[2019-08-02 18:35] kfattig commented on #128
I believe this is a duplicate of https://github.com/venth/aws-adfs/issues/126 .  ADFS seems to be picky about user-agent, and the behavior varies depending on environment.

Allowing more granular control of user-agent, and maybe handling it as a config option would go a long way to addressing this, but would be probably break backwards compatibility as default behaviors would change.  I don't thin

[2019-08-06 12:43] torric1 commented on #116
I'm experiencing the same issues - I have RSA linked to ADFS servers. If I do not force MFA I can login successfully. If I enable MFA i get the error "cannot extract saml assertion, re-authentication needed". It doesn't seem to be triggering or scraping the RSA authentication module.

I ran the command aws-adfs -v login --adfs-host=<adfshost> --role-arn <arn>

Any help would be appeciated

[2019-08-06 13:00] torric1 commented on #116
Verbose logs, with personal data removed.

[aws-adfslog.txt](https://github.com/venth/aws-adfs/files/3472313/aws-adfslog.txt)

[2019-08-06 15:59] kfattig commented on #116
@torric1 Try adding '--no-sspi' .  A [recent change](https://github.com/venth/aws-adfs/commit/c1355de51b3976b7f7356804c6476d2d14da7aa2#diff-b3c9fbac216c9c04f8cf8b4de2042751) to this option caused a change in the user-agent header.

I should have a fix for this in the coming days.

[2019-08-07 13:54] torric1 commented on #116
Thanks for the response. Doesn't work with '--no-sspi' unfortunately.

[2019-08-09 19:47] EdoBarroso commented on #98
Thank you @jbuettnerbild!!! That worked!!

[2019-08-19 16:56] scumola commented on #116
I'm also having the same issue.  --no-sspi doesn't help.  Tried with versions 1.16.0 and 1.17.0.  Also tried clearing profiles and cookies.  Still doesn't work.  Web GUI works fine.  MFA w/ RSA is enabled on the ADFS server.

[2019-08-26 08:49] mjernsell opened #132 "Issue with the _azure_cloud_mfa_authenticator after the sspi changes"
The login flow in _azure_cloud_mfa_authenticator is broken unless the --no-sspi is given.

I'm not sure if this was the intended behaviour or not, but previously in html_roles_fetcher the User-Agent was not set since the import `from requets_negotiate_sspi import HttpNegotiateAuth` failed. The new behaviour now sets the header since sspi is set to True in the `fetch_html_encoded_roles` which (by s

[2019-09-03 20:51] kfattig commented on #132
I broke this - and I'm sort of stuck on how to best fix it. My thoughts here:
https://github.com/venth/aws-adfs/issues/126#issuecomment-514224499

I don't actually have an SSPI environment, so I can't say when the header is required. I know that in my case (and, according to the comments here, others) the header causes issues. I just trusted the comment & documentation which says that SSPI should

[2019-09-09 09:29] torric1 commented on #116
A smart AWS consultant fixed this for me: https://github.com/torric1/AWSCLI-MFA-RSAv2/blob/master/ros_aws-cli-py3-adfs3-mfa-securID.txt

[2019-09-09 12:08] torric1 commented on #118
try https://github.com/torric1/AWSCLI-MFA-RSAv2

[2019-09-27 09:27] andrewjlowery opened #133 "Duo Yubi(U2F)"
I am receiving an error when trying to use the new u2f function to auth.

click.exceptions.ClickException: There was an issue during retrieval of a code entered into the device. The error response: {"stat": "OK", "response": {"status_code": "deny", "status": "Login request denied.", "result": "FAILURE", "reason": "Error"}}

I have raised a case with Duo, but maybe there is something that I am doin

[2019-10-08 08:24] varun1231 opened #134 "The parameter --role-arn isn't working"
aws-adfs login --role-arn arn:aws:iam:xxxxxxxxxxx:role/xxxxxxxxxxxxxxxxxxxxxx doesn't work. The selection prompt comes asking for a role number.

[2019-10-08 14:42] varun1231 commented on #134
Found the issue, the role format isn't correct - should be arn:aws:iam**::**xxxxxxxxxxx:role/xxxxxxxxxxxxxxxxxxxxxx. The error handling can still be improved with a correct message, if you want to take it up as an enhancement.

[2019-10-08 16:05] lmayorga1980 commented on #132
I am having a related issue when using AzureMFA Authentication.

`aws-adfs login --adfs-host my.adfs.host --authfile auth.txt --profile test-account`

I was getting this response.

`This account does not have access to any roles`

I went and updated this file to print the response `vim ./venv/Lib/site-packages/aws_adfs/html_roles_fetcher.py` and I got this response.

https://gist.github.com/lmayor

[2019-10-08 17:26] kfattig commented on #132
@lmayorga1980 Did you try with ['--no-sspi'](https://github.com/venth/aws-adfs/issues/126#issuecomment-513938611) ?

[2019-10-08 20:56] lmayorga1980 commented on #132
**aws-adfs: 1.18.1**

Maybe an older version?

[code]

[2019-10-09 14:01] andrewjlowery commented on #133
I have received feedback from Duo, as below:-

The back end logs show that the denials are occurring because:
"u2f_finish rejected: AuthenticationRejectedException('Bad origin received.',)"
and
"Frame request Referer not like api-*.duosecurity.com"

As this is being generated from a non-supported integration, we are unable to identify the direct cause. The integration being used appears to be not

[2019-10-09 22:45] lmayorga1980 commented on #116
@torric1 I have the same issue with AzureMFA Authentication. I will try your referenced script and tweak it to see if it works.

[2019-10-10 08:49] torric1 commented on #116
This is not for Azure MFA it's for RSAv2.

[2019-10-11 14:34] lmayorga1980 commented on #116
@torric1 I thought the script is the same and the only thing it changes is the headers that set the AzureMFA Authentication.

[2019-10-30 18:54] lmayorga1980 commented on #132
any :newspaper: @kfattig ??

[2019-11-01 17:05] darnscott commented on #112
The --stdout flag needs to add `"Version": 1` in the json output ([documentation ref](https://docs.aws.amazon.com/cli/latest/topic/config-vars.html#sourcing-credentials-from-external-processes)).
It would also be nice if the session expiration could be included in the JSON output as a ISO8601 formatted timestamp, which causes the credentials to automatically be refreshed.

[2019-11-13 09:32] danmx opened #137 "Homebrew support"
Did you consider adding it to [homebrew](https://brew.sh/)?

[2019-11-15 05:21] JonasSaegesser commented on #114
+1

[2019-11-22 16:23] zevektor opened #139 "Add Python scripts compatibility"
Hi,

I would like to use this project as a python dependency in a GUI application.
I'm finding very difficult to call the login function directly because the click decorators make the original function unusable.

Would you consider to decouple click functions from the original functions?

Something like this should work:
[code]

Alternatively, is there any other way to interact with the python API

[2019-11-25 13:25] pdecat commented on #133
Hi @andrewjlowery, do you still have this issue?

If so, you should be able to get more details about what's going on by adding `--verbose` to your `aws-adfs login` command, e.g. `aws-adfs --verbose login ...`

[2019-12-02 13:45] andrewjlowery commented on #133
@pdecat Thanks for your reply, when I run the aws-adfs using the --verbose I get a rejection.

![image](https://user-images.githubusercontent.com/32837706/69964034-6d3fad00-1509-11ea-8619-5c8057c359ca.png)

And speaking with Duo they suggested 'The back end logs show that the denials are occurring because:
"u2f_finish rejected: AuthenticationRejectedException('Bad origin received.',)"
and
"Frame r

[2019-12-02 16:39] pdecat commented on #133
You should have traces of the HTTP requests / responses happening before that.
Could you share the complete logs as [a gist](https://gist.github.com/)?

**Be careful to redact all sensitive content such as login, tokens, etc.**

[2019-12-03 10:15] alFReD-NSH opened #142 "Login issues solved by changing the code and parameters"
I would normally make a pull request but I wasn't sure what's the best direction to go forward with this. To get this to work with my setup, I had to add `&RedirectToIdentityProvider=AD+AUTHORITY` to the [`IDP_ENTRY_URL`](https://github.com/venth/aws-adfs/blob/1.19.1/aws_adfs/html_roles_fetcher.py#L21) and also setting [AuthMethod](https://github.com/venth/aws-adfs/blob/1.19.1/aws_adfs/html_roles_

[2019-12-03 15:39] venth commented on #137
Hmm, I'm not sure about homebrew. Homebrew works only on osx. PIP on the other hand is system agnostic. What would be the brought value, if we will introduce homebrew?

[2019-12-03 15:46] danmx commented on #137
It would be easier to install `aws-adfs` on macOS since it would be already isolated by `homebrew` like it does with [`aws-cli`](https://github.com/Homebrew/homebrew-core/blob/master/Formula/awscli.rb).

[2019-12-04 09:59] alFReD-NSH opened #143 "Provide a command or option to get the console link"
We can use the federation API to generate a link that would open AWS console in that account: https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-custom-url.html

I have created a script that does this after aws-adfs login, but it'd be nice if aws-adfs could provide this out of the box:

[code]

[2019-12-04 11:36] venth commented on #137
I don’t have any experience with homebrew package creation. Would you like to create PR that would provide such packaging?

[2019-12-17 05:10] cpandit201 opened #146 "Installation for aws-adfs fails"
Hi Team,

I have tried installing aws-adfs on my machine but was failing with below error,

Can you please let me know what am I missing here while installation?

**Configuration**
Using MacOS Mojave - 10.14.6 (18G87)
Python 2.7.10

[code]

Have added $HOME/.local/bin to my path,
Below is my $PATH variable

[code]

Can you please help me out in what am I missing while installation? Any other depen

[2019-12-17 07:29] cpandit201 commented on #146
Update tried installing using pip3 rather than pip

[code]

[2019-12-17 17:26] #100 closed

[2019-12-17 17:42] venth commented on #146
I'm not sure what's the issue with python 2.7.10. On travis and empty environment the application is installed without any issue. I thought that it could be related with unintentional usage of pip3 instead of pip2 because of wrong linking.

Fortunately installation with python3 works ;)

[2019-12-17 17:45] venth commented on #146
I've checked python's version used during installation on travis. It seems that travis uses for 2.7.x -> the version: 2.7.15. [The build](https://travis-ci.org/venth/aws-adfs/jobs/626308777)

[2019-12-18 15:05] cpandit201 commented on #146
Closing this issue for now as the installation was successful with pip3/python3

[2019-12-18 15:05] #146 closed

[2019-12-18 15:05] cpandit201 commented on #146
Thanks for the input though

[2019-12-27 13:41] NeolithEra opened #148 "Potential dependency conflicts between aws-adfs and botocore"
Hi, as shown in the following full dependency graph of  **_aws-adfs_**, **_aws-adfs_** requires **_botocore >=1.12.6_** ， while the installed version of **_boto3_**(1.10.23) requires _**botocore >=1.13.23,<1.14.0**_.

According to Pip's _“first found wins”_ installation strategy, _**botocore 1.13.23**_ is the actually installed version.

Although the first found package version _**botocore 1.13.23

[2019-12-27 13:41] NeolithEra commented on #148
### Suggested Solution

1.	Fix your direct dependencies to be **_botocore <2.0.0_**.
2.	Ask your upstream project **_boto3_** to lose the version range of **_botocore_** to be **_>=1.13.23_**, and **_s3transfer_** to lose the version range of **_botocore_** to be **_>=1.12.36_**.

@venth Which solution do you prefer, 1 or 2?
Please let me know your choice. May I pull a request to solve this issue?

[2019-12-27 14:54] venth commented on #148
I thank we should go with the first solution. What do you think @pdecat?

[2019-12-27 15:48] pdecat commented on #148
Hi @venth, I'm not sure there's any need to hurry and fix anything.

FWIW, I've initiated a migration to poetry that should help resolve dependencies issues: https://github.com/pdecat/aws-adfs/blob/poetry/

@NeolithEra, are you a bot? Your github activity only shows similar issue reporting :roll_eyes:   https://github.com/NeolithEra?tab=overview. Also, what did you mean by _bleach_?

[2019-12-27 17:02] venth commented on #148
@pdecat, if you’re right then it would be smart attempt to inject malicious code 🤔

[2019-12-28 04:47] NeolithEra commented on #148
@venth @pdecat Thank you for your quick feedback.
I am a researcher in software dependency management area.
We are trying to help developers find dependency conflict issues in the Python world.
Here is our related research work: http://faculty.neu.edu.cn/swc/wangying/Paper/Watchman.pdf

We just identify a dependency conflict in **_aws-adfs_** project, by analyzing the overall Pypi ecosystem.
Keepi

[2019-12-28 04:52] NeolithEra commented on #148
By the way, poetry is a very good tool that can solve part of these dependency hell problems.
However, poetry can only work well in the case that the required version constraints of the conflicting packages have an intersection.

When you migrate to poetry, please still pay attention to the dependency issues.

Happy new year!

[2019-12-28 10:14] pdecat commented on #148
Hi @NeolithEra, good to hear :)

I've submitted #149 to drop the boto3 dependency altogether.

[2019-12-28 19:04] #148 closed

[2019-12-30 09:22] venth commented on #148
@NeolithEra, thanks for sharing with us your findings 👍

[2020-01-14 00:56] copperorange commented on #57
@FixItDad I figured I get back to this and I have to say I think that worked. On the Windows desktop, it was fine as is but on a Mac, I changed the header and I think it is far more consistent now. I will try and find time to dig in deeper.

[2020-01-16 22:22] rirze commented on #142
+1, I had to internally set `data['AuthMethod'] = 'FormsAuthentication'` before the POST command to get it to work. If there's a way to specify this option at the command line, that would be great!

[2020-02-11 14:54] mmgaribaldi opened #155 "ADFS 4.0 JavaScript problem"
Hi everyone.

I am trying to get aws-adfs working agains an ADFS 4.0. I keep getting this:

[code]

I saw that the ADFS IdP is returning mixed html+js so, the assertion can´t be made.

Anyone with a similar problem ?

[2020-02-13 05:37] #102 closed

[2020-02-19 09:11] BrewToR commented on #155
Hi there
I have exactly the same issue : "Javascript is required"

ADFS 4.0 too

It would be great if someone could help
thank you !

[2020-02-19 14:10] mmgaribaldi commented on #155
At this point everything helps, so thanks! I am going to speak to the ADFS admin and give it a try.

[2020-02-24 22:14] tongak opened #157 "Duo authentication not working with later versions of aws-adfs"
I receive the following error when using aws-adfs version 1.24.1 with duo enabled.

Traceback (most recent call last):
  File "/usr/local/bin/aws-adfs", line 8, in <module>
    sys.exit(cli())
  File "/usr/local/lib/python3.7/site-packages/click/core.py", line 764, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python3.7/site-packages/click/core.py", line 717, in main

[2020-02-26 16:53] psiri commented on #157
Have the same issue, it seems like this is related to lack of support for DUO bypass networks.

1.   If we authenticate from any non-bypassed networks (Starbucks, home office, etc) DUO successfully triggers the MFA method and the user can login successfully.

2.  If the user moves to a DUO-bypassed network (corp WiFi, VPN, etc) the MFA method is not triggered and the script fails. The 4th (expecte

[2020-03-02 16:00] thomasgreensmith commented on #112
I ran into this issue while trying to use credential_process with AWS Toolkit for VSCode.

I had to modify login.py with the following changes.

Line 229
` else:
        _store(config, aws_session_token)
        _emit_json(aws_session_token)
        #_emit_summary(config, aws_session_duration) `

Line 237
` u"""{{"AccessKeyId": "{}", "SecretAccessKey": "{}", "SessionToken": "{}", "Version": 1}}"""

[2020-03-04 15:56] lmayorga1980 commented on #116
@praveenraghav01 I have a fix on my fork but i think I broke `sspi`. However, I believe the solution in my case is that our ADFS Servers was providing 3 HTML Radiobuttons to select the MFA type and had to add those to the `context`

[2020-03-04 15:58] lmayorga1980 commented on #116
https://github.com/LM3CORP/aws-adfs/blob/662ef799d64b9df82f8e0f29945ba1b314a59c82/aws_adfs/html_roles_fetcher.py#L131-L156

[2020-03-04 16:14] praveenraghav01 commented on #116
@lmayorga1980 Thank you for the help '--no-sspi' worked for me :)

[2020-03-06 14:06] killerwolf opened #159 "homebrew support"
adds homebrew installtion capabilities

[2020-03-11 15:32] tongak commented on #157
After doing some testing it seems the change happened between version 1.17.0 and 1.18.0. From version 1.18.0 and on I can not get the duo push notification, instead I just get the error above.

[2020-03-11 23:59] pdecat commented on #157
Hi,

Oops, I must have introduced that issue with https://github.com/venth/aws-adfs/pull/127, sorry.

I've tentatively submitted https://github.com/venth/aws-adfs/pull/160 to try to resolve this issue.

As I cannot reproduce the issue, could you please test the `fix_157_duo` branch?

To install that branch with pip at the system level in /usr/local:
[code]

To install that branch with pip in your

[2020-03-12 00:03] pdecat commented on #142
This should be resolved by https://github.com/venth/aws-adfs/pull/151 which was released in v1.24.0: https://github.com/venth/aws-adfs/releases/tag/1.24.0

[2020-03-12 15:51] tongak commented on #157
I have installed the above branch. I am getting a different error now. I get prompted for the password and I enter my password. I starts the next step of sending request, but then errors out.

**2020-03-12 09:43:02,037 [authenticator authenticator.py:authenticate] [1133-MainProcess] [140069562877760-MainThread] - ERROR: Cannot extract saml assertion. Re-authentication needed?
Password:
Sending req

[2020-03-12 15:55] pdecat commented on #157
@tongak you should be able to get more details about what's going on by adding `--verbose` to your `aws-adfs login` command, e.g. `aws-adfs --verbose login ...`.

Note: you should have traces of the HTTP requests / responses that are happening.
In case you want to share some parts here, *be careful to redact all sensitive content such as login, tokens, etc*.

[2020-03-12 18:16] tongak commented on #157
We figured it out and it was our fault. Our duo admin denied access to linux devices. For some strange reason up until version 1.18.0 aws-adfs was showing up as mac osx device, which is why it worked. Then 1.18.0 and beyond it shows up as a linux device and that is when I was having problems. Thanks @pdecat for your help. I actually found the error when using the verbose option.

[2020-03-13 17:07] rpsadarangani opened #161 "Getting the below Error"
Hello,

I am trying to use aws-adfs, but I am getting the below error.

click.exceptions.ClickException: Cannot begin authentication process. The error response: {"message": "Please select an authentication method.", "stat": "FAIL"}

[2020-03-16 14:57] zhernovs commented on #161
Hi, you should update to the latest version. It was fixed in https://github.com/venth/aws-adfs/pull/158

[2020-03-16 15:04] zhernovs commented on #114
+1

[2020-03-16 15:28] zhernovs opened #162 "Support for Passcode"
In the latest version it's now available to choose auth method for DUO if default one not chosen.
However, despite the fact that it now recognizes the Passcode method, it still works with push only.
[code]

Please add functionality to enter passcode in that case. Some devices just don't support Duo-push.

[2020-03-16 18:29] #157 closed

[2020-03-18 21:28] rpsadarangani commented on #161
Hi I tried but got the same error.

[2020-03-20 18:33] yermulnik opened #163 "[Feature request] Support Okta"
I've been using this marvelous tool for AWS auth via ADFS for about three years now and I want to appreciate what you guys do and the development effort being of high quality and speed.

Though the company I work for is switching from ADFS to Okta by the end of April and I'm indeed looking forward into having this option in `aws-adfs`.

Thanks in advance.

[2020-03-21 12:09] venth commented on #163
Thanks @yermulnik for the praises :)

Adding Okta support would be awesome and if only I would be able to build a virtual environment to simulate Okta + AWS then I could think about extending functionality of this tool.

Do you know how to setup such an environment, so it would be feasible to develop application against the environment?

[2020-03-21 18:37] yermulnik commented on #163
Looks like Okta offers free accounts for developers. Hope this links would help:

- https://developer.okta.com/code/python/
- https://developer.okta.com/code/python/pysaml2/
- https://developer.okta.com/docs/guides/customize-authz-server/overview/

[2020-03-21 18:42] yermulnik commented on #163
And since Okta can leverage SAML there's no any special requirement on AWS side apart from configuring Identity Provider and Trust Relationship for IAM Role just like one would do for ADFS.
From what it looks like at least. As I've been said that my Company is going to update SAML Metadata of the Identity Provider and update Trust Relationship of the IAM Role I use. I'll update you with details on

[2020-03-24 18:19] damscott commented on #163
There are already [a number of other tools](https://support.okta.com/help/s/article/Integrating-the-Amazon-Web-Services-Command-Line-Interface-Using-Okta) that already support Okta. In particular, [Nike-Inc/gimme-aws-creds](https://github.com/Nike-Inc/gimme-aws-creds) and [Versent/saml2aws](https://github.com/Versent/saml2aws) are both well-maintained.

It may be worth looking into using one of th

[2020-03-24 18:40] yermulnik commented on #163
@damscott Thanks for the pointers. I will take a look at these along with a hope to see this option added to `aws-adfs` (sooner or later most of popular AWS auth tools come to a point where it's no longer expected to be specific to a particular auth type imho).

[2020-06-13 17:25] #77 closed

[2020-06-30 21:16] rumeshkrish commented on #155
Any updates on this issue ? I am also facing same issue. Looking forward to resolve asap. If required, willing to contribute on this.

[2020-06-30 21:52] mmgaribaldi commented on #155
Hi! as @BrewToR said, it was not a javascript problem. We did a fresh install of ADFS and start working. Unfortunately, despite 18 hours of comparison, I couldnt get which config difference it was causing the problem.

[2020-07-01 19:29] rumeshkrish commented on #155
Hi @mmgaribaldi  thanks for your response. I found the problem. It is related to PROXY issue. I am unable to reach https://signin.aws.amazon.com:443/saml site. Is it possible to have option for proxy in this library ?

[2020-07-05 19:19] #112 closed

[2020-07-17 06:20] ottokruse opened #167 "Support MacOS key chain?"
As I understand it now, username and password can be stored in a file on disk and read from there.

Is there / are you planning support for the MacOS key chain?

[2020-07-17 06:36] ottokruse commented on #167
By the way, great tool! Thanks :)

[2020-07-22 02:31] danielletran opened #168 "There was an issue when following the Duo result URL after authentication"
After sucessful AD auth and Duo Push, the following is returned

Error: There was an issue when following the Duo result URL after authentication. The error response: {"stat": "FAIL", "message": "Your session has expired. Please try again."}

[2020-07-22 15:35] awang35 commented on #168
A colleague of mines found out a fix for this:

 It looks like the Duo API behavior has changed and the reuse of the SID value does not work anymore in multiple requests. The following changes use the SID value from the last request in the chain and fix the issue.

If you are using _duo_authenticator.py adding the following after line 249 should fix it.

sid=response.json()['response']["sid"]

[2020-07-24 05:39] pdecat commented on #168
Hi,

if you still face the error, would you mind sharing some more details about the error you are facing?

You should be able to get more details about what's going on by adding `--verbose` to your `aws-adfs login` command, e.g. `aws-adfs --verbose login ...`.

Note: you should have traces of the HTTP requests / responses that are happening.
In case you want to share some parts here, **be careful

[2020-07-25 07:20] 814HiManny opened #173 "Recent Change in Azure MFA Server Authentication uses incorrrect authMethod value"
Authentication has recently stopped working after working previously about 3-6 months ago.
[code]
def _is_azure_mfa_authentication(html_response):
    auth_method = './/input[@id="authMethod"]'
    element = html_response.find(auth_method)
    return (
        element is not None
        and element.get('value') == 'AzureMfaServerAuthentication'
    )
[code]

            <input id="authMethod" typ

[2020-07-28 12:51] emanuelr93 opened #174 "Support MFA Token from STDIN or ENV or AUTHFILE"
Like the username and password, my request is to provide non-interactive methods also for MFA tokens.
This could be useful during CD processes. For example Jenkins (or similar tools) could ask for the credentials and the MFA token as input to the pipeline.

It is currently not possible to perform a non-interactive login in case of MFA enabled.

[2020-08-04 10:08] danielletran commented on #168
hi
1.24.4 has resolved the issue for us.

[2020-08-04 10:08] #168 closed

[2020-08-24 17:44] zanloy commented on #109
More systems are starting to use smart card for MFA. Is this possible with aws-adfs or not?

[2020-09-03 20:17] cira-jonathan opened #175 "Cannot log in to certain regions"
I'm trying to use my AD credentials to log into our AWS account and there are 4 regions I can't log into using aws-adfs via the command line.

This is the command I use to log in:
aws-adfs login --adfs-host=<URL> --provider-id urn:amazon:webservices --region <REGION> --profile <PROFILE> --no-ssl-verification --no-sspi

This is the error message I get when I try to authenticate:
Traceback (most rec

[2020-09-18 16:31] firstgear commented on #98
Using aws-adfs succesfully on client with OS X, but on Windows 10 (Python 3.7.9) I am getting the message "This account does not have access to any roles" straight away when running, I am not even asked for username/password:

# aws-adfs -v login --adfs-host=idp.domain --no-ssl-verification --profile=adfs --no-sspi

When increasing verbosity, I do see in the output: "Your request included an inval

[2020-10-18 06:39] pdecat commented on #175
Hi @cira-jonathan,

Are you using Duo? If so, have you seen this?

"Specified provider doesn't exist (Service: AWSOpenIdDiscoveryService; Status Code: 400; Error Code: AuthSamlManifestNotFoundException)"

See https://help.duo.com/s/article/3717?language=en_US
And https://duo.com/docs/aws#enable-aws-sso

[2020-10-30 16:34] emanuelr93 opened #178 "Adfs cookie reusage issue during username change"
If is used login via Environment variable, if I try to change username the adfs_cookies of old account is used.

[code]

With this commad, the old adfs_cookie is reused and authentication fail.
[code]

The only way to resolve this issue is to remove adfs_cookies file inside .aws directory

[2020-11-09 07:59] #161 closed

[2020-12-02 14:17] adrianolettieri commented on #178
I had the same problem and what @emanuelr93 is suggesting fixed it.
In my case it was even harder to identify the issue because when the account has only one arn-role associated you don't get any error, you just receive the key for the wrong account.

[2020-12-04 08:22] pdecat commented on #178
Appending the ADFS hostname and the username to the `adfs_cookies` filename may help prevent this issue.

[2020-12-04 11:28] emanuelr93 commented on #178
Yes, but please take care about special characters. For example the username can container / for domain or somethings similar.

[2020-12-05 16:43] pdecat commented on #178
Indeed. Using a hash of those is probably better.

[2020-12-28 08:49] Tantalon opened #180 "printenv should output only shell commands, the summary isn't"
--printenv contains shell commands suitable for sourcing into the current environment.
The extra summary information that's included breaks this use case.
We should not include summary information when using --printenv, or if we do, it should be on stderr rather than stdout.

Example:
[code]

[2020-12-28 09:01] Tantalon opened #182 "AWS session caching is not implemented, ADFS is called every time"
When using aws-adfs with credential_process it makes a call to ADFS every time an AWS call is made (e.g. this is three ADFS calls: aws s3 ls; aws s3 cp; aws s3 ls). For me this adds 1 second to each AWS call.

According to the [AWS docs](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html), credential_process is responsible for caching the session token, and this

[2020-12-28 09:04] Tantalon commented on #182
@brandond I'd appreciate your view on this as it relates to the ADFS session cookie functionality.

[2021-01-05 11:53] likku123 commented on #182
I believe the below error is because of broken session caching.
 An error occurred (AccessDenied) when calling the PutObject operation: No AWSAccessKey was presented.
I was able to perform aws s3 ls and other commands but failing for cp/sync.

[2021-01-08 00:12] MisterBianco opened #183 "Security Key not working under macosx"
I am using a thetis u2f fido2 security key and when I use the command:

[code]

I get the following error:

[code]

I have ensured that the security key is set to be the default device and I can see from the verbose print out that the query used to find u2f keys is returning 0 results as the key doesnt match the query. I can send the full verbose logs but would prefer it be non public.

I have als

[2021-01-19 02:39] Dobatymo commented on #57
Encountering this issue as well after confirming 2FA with Duo.
aws-adfs 1.24.5
Python 3.7.4
Windows 10

[2021-05-10 12:44] Tantalon opened #184 "SAML parsing breaks on ADFS because it expects a specific XML prefix"
ADFS (we're using an older version I believe) is returning Assertion using xmlns rather than a prefix, as the example below.
This breaks because saml.py is checking for "saml:Assertion" with a specific prefix, rather than checking the element namespace.
[code]

[2021-05-10 12:46] Tantalon commented on #184
Cancelling, this is an issue in the downstream lib, not this one, sorry!

[2021-05-10 12:46] #184 closed

[2021-05-25 12:00] hcsyash commented on #57
Getting same issue on both MacX and Windows :-

Response:
            * status: 401
**Error: Issues during redirection to aws roles page. The error response <Response [401]>**

Provider : ADFS
2FA : DUO
aws-adfs : 1.24.5
Python : 3.9.0
OS : Windows 10 & Mac Catalina

Help anyone ? @venth @FixItDad @slyoldfox @copperorange

[2021-06-29 11:52] ArthurKantor commented on #161
still broken in 1.24.5

[2021-07-09 14:48] lincolnatwood commented on #162
In _duo_authenicatory.py, it is possible to use Passcode with the following changes (or is for me). I didn't dig too deep. I decided to use the preferred_device input as the passcode entry and hard-code the phone1 device.

Line 345 needs 'allow' added:
`        if json_response['response']['status_code'] not in ['answered', 'calling', 'pushed', 'u2f_sent', 'allow']:`

After line 553:
`        clic

[2021-07-09 14:52] lincolnatwood commented on #162
click.echo("Triggering authentication method: '{}'".format(preferred_factor), err=True)
        if "Passcode" not in preferred_factor:
            click.echo("Device triggered.")
            response = session.post(
                prompt_for_url,
                verify=ssl_verification_enabled,
                headers=_headers,
                data={
                    'sid': sid,

[2021-07-09 14:54] lincolnatwood commented on #162
In _duo_authenicatory.py, it is possible to use Passcode with the following changes (or is for me). I didn't dig too deep. I decided to use the preferred_device input as the passcode entry and hard-code the phone1 device.

Line 345 needs 'allow' added:
`if json_response['response']['status_code'] not in ['answered', 'calling', 'pushed', 'u2f_sent', 'allow']:`

At line 553:
[code]

[2021-07-09 21:52] lincolnatwood commented on #162
Here's what worked for me:

Updates in _perform_authentication_transaction method:

Insert at line 134:
[code]
Updated call to _begin_authentication_transaction to pass passcode variable:
[code]

Updates in _begin_authentication_transaction method:

Updated def to include passcode
[code]
Updated session.post to include passcode:
[code]

[2021-07-17 07:55] minalvnk opened #186 "2021-07-17 09:52:18,704 [authenticator authenticator.py:authenticate] [114651-MainProcess] [140189704632128-MainThread] - ERROR: Cannot extract roles from response This account does not have access to any roles"
Gettting the below error always while running the command :
aws-adfs login --adfs-host=host.xxxx.xxxx

2021-07-17 09:52:18,704 [authenticator authenticator.py:authenticate] [114651-MainProcess] [140189704632128-MainThread] - ERROR: Cannot extract roles from response
This account does not have access to any roles

tried with the option --no-ssl-verification. Even could not resolve this issue.
aws-a

[2021-07-20 07:00] pdecat commented on #186
Hi, could you try with `--no-sspi`? See https://github.com/venth/aws-adfs/issues/98#issuecomment-517273656

[2021-07-28 16:11] jeffmallozzi opened #187 "del password and python string objects"
in [html_roles_fetcher.py](https://github.com/venth/aws-adfs/blob/master/aws_adfs/html_roles_fetcher.py), line 132, and other places there is:

    password = '###################################################'
    del password

I believe that this is an attempt to overwrite the user's password in memory before deleting it from memory, a belt and suspenders approach.  However I don't think this

[2021-07-30 07:29] minalvnk commented on #186
I tried but no luck.

[2021-08-09 20:52] rodrigo-fss opened #188 "Please select an authentication method."
Hello,

I am trying to use aws-adfs, but I am getting the below error.

click.exceptions.ClickException: Cannot begin authentication process. The error response: {"message": "Please select an authentication method.", "stat": "FAIL"}

Im not able to set the default DUO method so I rely on this functionality

[2021-09-16 20:58] mcgarrah opened #189 "PyKerberos on MacOS - failure to install"
There is an issue with pip installing PyKerberos on MacOS.  The ARCH has to be set during the install or it fails. MacOS is no longer just "x86_64" and this is showing up in some libraries as the M1 processor is coming into play. I hacked around it for my installation with the following command after brew installing the base OS libraries.

`% ARCHFLAGS="-arch x86_64" pip3 install aws-adfs --user`

[2021-09-21 09:37] pdecat commented on #189
Hi, could you share the original error without specifying `ARCHFLAGS`?

[2021-09-21 09:39] pdecat commented on #188
Hi, what is the complete `aws-adfs login` command you are using?

Make sure to redact confidential information like ADFS host and the sorts.

[2021-09-21 10:40] pdecat commented on #187
Indeed, submitted https://github.com/venth/aws-adfs/pull/190 to resolve this.

[2021-09-21 13:15] pdecat commented on #183
Hi @MisterBianco, does your thetis u2f fido2 security key work with the same command on Linux?

[2021-09-21 13:18] pdecat commented on #186
Hi @minalvnk,

you should be able to get more details about what's going on by adding `--verbose` to your `aws-adfs login` command, e.g. `aws-adfs --verbose login ...`.

Note: you should have traces of the HTTP requests / responses that are happening.
In case you want to share some parts here, **be careful to redact all sensitive content such as login, tokens, etc**.

[2021-09-21 13:35] pdecat commented on #182
This has bothered me too for a long time, I'm looking at this now.

[2021-09-23 08:49] pdecat commented on #155
Hi, proxy support should be already working with `https_proxy` environment variable.

See https://docs.python-requests.org/en/master/user/advanced/#proxies

[2021-09-23 09:35] #142 closed

[2021-09-23 09:46] pdecat commented on #139
Hi, you should be able to call the original function with click's `Command.invoke()` method, see:
* https://click.palletsprojects.com/en/8.0.x/api/#click.Command.invoke
* https://github.com/pallets/click/blob/8.0.1/src/click/core.py#L1393

[2021-09-23 09:46] #139 closed

[2021-09-23 09:47] pdecat commented on #159
Duplicate of #137

[2021-09-23 09:47] #159 closed

[2021-09-23 09:47] #134 closed

[2021-09-23 10:05] pdecat commented on #94
This is supposed to be fixed since pywin32 b222, see:

https://bugs.python.org/issue29921#msg402486

https://github.com/mhammond/pywin32/issues/748#issuecomment-359223029

https://github.com/mhammond/pywin32/commit/07202650d21e8fa7f3053ff1d4665363315cefce

https://github.com/mhammond/pywin32/blob/b222/CHANGES.txt#L24-L26

[2021-09-23 10:05] #94 closed

[2021-09-23 10:17] pdecat commented on #123
Resolved by https://github.com/venth/aws-adfs/pull/122

[2021-09-23 10:17] #123 closed

[2021-09-23 10:23] #110 closed

[2021-09-23 10:30] pdecat commented on #74
There seems to be a solution: https://github.com/venth/aws-adfs/issues/74#issuecomment-376013069

Is anyone still facing this issue?

[2021-09-23 10:30] pdecat commented on #108
You should be able to get more details about what's going on by adding `--verbose` to your `aws-adfs login` command, e.g. `aws-adfs --verbose login ...`.

Note: you should have traces of the HTTP requests / responses that are happening.
In case you want to share some parts here, **be careful to redact all sensitive content such as login, tokens, etc**.

[2021-09-23 10:31] #98 closed

[2021-09-23 10:32] #80 closed

[2021-09-23 10:34] pdecat commented on #78
Resolved by #88

[2021-09-23 10:34] #78 closed

[2021-09-23 10:40] pdecat commented on #94
Duplicate of #69

[2021-09-23 10:40] pdecat commented on #69
This is supposed to be fixed since pywin32 b222, see:

https://bugs.python.org/issue29921#msg402486

https://github.com/mhammond/pywin32/issues/748#issuecomment-359223029

https://github.com/mhammond/pywin32/commit/07202650d21e8fa7f3053ff1d4665363315cefce

https://github.com/mhammond/pywin32/blob/b222/CHANGES.txt#L24-L26

[2021-09-23 10:40] #69 closed

[2021-09-23 10:41] #63 closed

[2021-09-23 10:41] #60 closed

[2021-09-23 10:43] pdecat commented on #57
The work-around is usually to also pass `--no-sspi` to `aws-adfs login`.

[2021-09-23 10:43] pdecat commented on #46
In progress, see #177

[2021-09-28 09:39] #187 closed

[2021-09-28 14:04] mcgarrah commented on #189
Again, I'm not sure if this is the best or right way to do this, but sharing as a workaround.

[2021-09-28 14:34] mcgarrah commented on #189
We have also got another failure that I cannot personally reproduce but my colleague can consistently get to fail. His has to do with memcpy() and mempcpy() in glib vs stdlib I think. No idea why exactly he gets this error and I don't but guessing it has to do with our build environments being slightly different someplace.

[code]

I have no workaround for this one.

[2021-09-28 20:38] pdecat commented on #189
The [PyPI page for pykerberos does not provide a link to the official upstream source code: https://pypi.org/project/pykerberos/ (with a `py` prefix).
The latest release of pykerberos available from [PyPI is 1.2.1 from 2017/12/20](https://pypi.org/project/pykerberos/1.2.1/).

After verification, the source code for this PyPI package actually comes from https://github.com/02strich/pykerberos/:

[co

[2021-09-28 20:45] pdecat commented on #189
There's an open issue on requests-kerberos to switch from pykerberos to kerberos: https://github.com/requests/requests-kerberos/issues/63

[2021-09-28 20:55] pdecat commented on #189
@mcgarrah can you try installing `requests-gssapi` on your system to check if its `gssapi` dependency passes compilation?

[2021-09-28 23:28] twillowman commented on #137
Homebrew pulls from package repositories, so no change would be needed to this project. It's a matter of creating a Homebrew formula, as documented here: https://docs.brew.sh/Adding-Software-to-Homebrew.

As such, I recommend closing this issue and opening one here in the Homebrew core project (https://github.com/Homebrew/homebrew-core/issues).

[2021-09-29 07:14] #137 closed

[2021-09-29 13:50] mcgarrah commented on #189
Here is the logs for trying the install without ARCHFLAGS:

[code]

[2021-09-29 13:56] mcgarrah commented on #189
Here is the same run with ARCHFLAGS set...

[code]

[2021-09-29 16:14] pdecat commented on #189
Does the same happen with a python3 installed with HomeBrew ? (hint taken from https://stackoverflow.com/a/64261864/316805)

[2021-09-29 16:16] pdecat commented on #189
Maybe you need to update the system Python to 3.8.6+: https://github.com/giampaolo/psutil/issues/1842#issuecomment-745301881

[2021-09-29 17:47] mcgarrah commented on #189
The Python 3.8.2 from brew fixed the requests-gssapi install using the /usr/local/bin/pip3 install method.
Did not resolve the pykerberos 1.2.1 but did allow the kerberos 1.3.1 package to install.

So there is something going on with python versions along with pip.

[2021-09-29 19:57] pdecat commented on #189
Something confuses me I see `macosx-10.14.6-x86_64` in [your logs](https://github.com/venth/aws-adfs/issues/189#issuecomment-929249263) (and `macosx-10.15-x86_64` in your [colleague's logs](https://github.com/venth/aws-adfs/issues/189#issuecomment-929290216)),
but you mention having an M1 processor.

Isn't [macOS Big Sur v11.x](https://en.wikipedia.org/wiki/MacOS_Big_Sur) the first official releas

[2021-09-29 20:36] mcgarrah commented on #189
Both my colleague and I are on Intel-based MacBook Pro 2019 machines. I assumed the arch issue was related to the non-Intel processor coming but we don't have them. That was why I mentioned the M1.

[2021-09-29 21:27] pdecat commented on #189
Alright, that clears things up.

Let's just add both workarounds to the README:
* either use `ARCHFLAGS="-arch x86_64" pip3 install aws-adfs --user`
* or do not use the macOS system's version of python, use one from homebrew.

[2021-09-29 21:56] pdecat commented on #189
Another finding, building gssapi may not be needed on macOS 10.7.0+: https://github.com/pythongssapi/python-gssapi/blob/v1.7.0/setup.py#L62

[2021-09-30 09:15] pdecat commented on #189
I've submitted https://github.com/venth/aws-adfs/pull/199 to fix some Windows dependencies following the switch to [poetry](#194), and now test on current supported platforms (i.e. macOS and Windows in addition to Ubuntu).

And all macOS builds are passing using homebrew installed python3.

[2021-10-04 16:38] #182 closed

[2021-10-05 01:01] Tantalon commented on #182
Tested with `pip3 install git+https://github.com/venth/aws-adfs.git@b61e7517bf52c0b35f011e25a911897a68cec12f`
aws-adfs calls have gone from 7 seconds to 300ms!
Thank you, this is awesome.

[2021-10-05 08:56] #180 closed

[2021-11-04 21:05] trehman-sb commented on #57
I was having this issue in Python 3.8.7 on Windows 10. Passing `--no-sspi` resolved it for me.

[2021-12-14 15:04] KenMacD opened #203 "Releases changing after published"
Hello, I notice `1.24.5` changed from the original binary. In this case it appears to be a trivial change in this caset, but it does break packages that check these things.

It looks like the following changed:

[code]

It would be nice if these could remain the same over time.

[2022-01-05 20:13] mengano-net opened #204 "feature request - logout"
I need to be able to switch connections to multiple AWS accounts/IAM roles. I would love to have an `aws-adfs logout` implementation, so that I can logout from one role, then again issue `aws-adfs login` to select another account/role.

- if I log into one, I'm able to access
[code]
- but if I then try to login again, before the STS session timeout, I can't login again to choose another account/ro

[2022-01-05 20:31] yermulnik commented on #204
Probably `reset` is what you're looking for:
[code]

[2022-01-06 02:29] mengano-net commented on #204
Thanks for your time and reply.
Um … almost but not quite… let me explain:

Using `aws-adfs reset` will remove the aws cli profile entirely, deleting it from ~/.aws/config … if I have anything custom in that profile it gets lost.
I would much rather have an `aws adfs logout` that would remove the session tokens, leaving the rest of the profile in 1st~/.aws/config` intact

[2022-01-26 11:29] pdecat commented on #203
Hi @KenMacD,

can you please clarify where/how you did notice that diff?
Specifically, what commands are needed to reproduce this issue?

Please note that this file is intentionally altered by versioneer when publishing releases to PyPI: https://github.com/venth/aws-adfs/blob/1.24.5/aws_adfs/_version.py#L22-L28

Also, next version [drops usage of versioneer in favor of using poetry's versioning fe

[2022-01-26 16:28] KenMacD commented on #203
Hi! The change I'd noticed was in relation to what I was doing [in an AUR for Arch Linux](https://aur.archlinux.org/packages/aws-adfs/).

From some reading on [this issue from python-versioneer](https://github.com/python-versioneer/python-versioneer/issues/217) it looks like the issue is that GitHub will regenerate the tarballs for tags as they're requested (TIL). This means the URL I'm using (`ht

[2022-01-28 18:29] alubneuski commented on #188
I have similar issue.
[code]
Here is my command line:
aws-adfs login --adfs-host xxx.xxx.xxx --no-sspi --profile=xxxxxxxx

Config file looks like this:
6 [xxxxxxx]
 7 region = us-west-2
 8 output = json
 9 adfs_config.ssl_verification = True
10 adfs_config.adfs_host = xxxxxx
11 adfs_config.provider_id = urn:amazon:webservices
12 adfs_config.sspi = False
13 adfs_config.u2f_trigger_default = False
1

[2022-01-30 21:29] bdwyertech commented on #183
I think Duo dropped support for U2F and is now forcing webauthn.  Had same thing start happening in my app recently (Golang).

[2022-01-31 07:38] pdecat commented on #183
I'm working on moving fro U2F to webauthn since last week. Interaction with website seems ok, but I'm facing issues performing the challenge with USB key.

[2022-01-31 07:39] pdecat opened #208 "Support Duo webauthn"
Duo has moved from U2F to webauthn since 2022/01/26.

[2022-02-08 09:12] #143 closed

[2022-02-09 11:50] #208 closed

[2022-02-09 14:14] pdecat commented on #203
Version 2.0.0 was released and drops python-versioneer so this should be resolved.

[2022-02-09 15:05] KenMacD commented on #203
Awesome. Thank you!

[2022-02-25 15:13] mattmauriello opened #222 "going back and forth between multiple hosts"
In our environment we have 2 different adfs hosts. one that requires MFA (duo) and another that doesn't. these are used to get different levels of access for different accounts. PROD accounts accessible through MFA, others through non-MFA. I've set up a .aws/credentials file to give access to the different accounts, but I noticed that when i go back and forth between the identity providers, it see

[2022-02-25 17:13] pdecat commented on #222
Hi @mattmauriello, your proposal to resolve this seems reasonable. I've never faced that issue as I use a single ADFS host with Duo.

Your PR is welcome!

[2022-02-25 19:29] mattmauriello commented on #222
Thanks. I've gone ahead and submitted
https://github.com/venth/aws-adfs/pull/223
hopefully it passes muster.

[2022-03-03 19:35] brightben1111 opened #227 "`login --role-arn "?"` not working on an existing profile"
Before aws-adfs 2.0, one could do the following:

1. `aws-adfs login --profile foo --role-arn "?"` - to initialize profile `foo` and be able to select the role arn you want from a list.
2. `aws-adfs login --profile foo --role-arn "?"` - the same command again for the same profile, and get the same role select list _again_.

Now when using `--role-arn "?"` for subsequent logins on an already establ

[2022-04-01 14:18] CloudViking86 opened #229 "Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))"
Hello,

First time trying out this project so I might have missed something but I don't believe I have.
Running v.2.0.1 from Windows 10 (Ver: 21H2 Build: 19044.1586)

Trying to login against our ADFS by running (in PowerShell);
`aws-adfs login --adfs-host=https://sso.mycompany.com/adfs/ls/idpInitiatedSignOn.aspx?loginToRp=urn:my:urn --role-arn=<our-arn> --region=eu-west-1`

but this fails directly

[2022-05-02 21:28] brightben1111 commented on #227
bumping this because it's still an issue

[2022-05-05 10:33] pdecat commented on #227
Hi @brightben1111, sorry for the trouble here. I've submitted https://github.com/venth/aws-adfs/pull/232 to disable caching if `role_arn` is not provided by configuration.

You should be able to test this PR with:

[code]

[2022-05-18 19:22] mattmauriello opened #234 "cache file truncation"
I was running into an issue where every credential fetch from boto/cli would result in a fetch back to adfs, rather than using cached credentials. i could see that the cache file was getting updated with EVERY call, the expires time incrementing every time. during troubleshooting, with some verbose output, i saw there was an error reading the cache file, and after looking at it a 2nd time, I notic

[2022-05-18 19:42] mattmauriello commented on #204
Sorry this is so late....
I do this by declaring a unique profile name during the login command.
to be specific, I'm using the "credential-process" method with --stdout set, so that  when I do CLI commands i can set --profile DEV, then on the next command --profile QA, for example.
when i added all my ~/.aws/credntial entries without their own --profile flags, I had the same behavior you describe.

[2022-05-18 19:43] mattmauriello commented on #229
--adfs-host is looking for a host name, not a URL. try
--adfs-host=sso.mycompany.com

[2022-05-19 12:20] pdecat commented on #234
Adding [O_TRUNC]( https://manpages.debian.org/bullseye/manpages-dev/open.2.en.html#O_TRUNC) sounds like the way to go, indeed.

Feel free to open a PR, thanks!

[2022-05-27 15:15] mengano-net commented on #204
@mattmauriello
Thanks. Yup, that's what I did as well. I think however, for completeness sake, you should consider adding a --logout parameter, so that you can discard AWS CLI access tokens from a profile, when you are done with it, instead of waiting until they expire.

[2022-06-01 10:07] pdecat opened #236 "Duo Universal Prompt breaks aws-adfs compatibility"
https://guide.duo.com/universal-prompt

[2022-06-01 12:29] pdecat commented on #236
Working on a fix..

[2022-06-02 05:04] ymuwakki opened #239 "RSA"
The popular authMethod now for RSA Secure id is called : SecurIDv2Authentication

In file: github.com/venth/aws-adfs/blob/master/aws_adfs/authenticator.py line 184:
def _is_rsa_authentication(html_response):
    auth_method = './/input[@id="authMethod"]'
        and element.get('value') == 'SecurIDAuthentication'

Please change to the latest RSA SecureID Auth:  SecurIDv2Authentication
or change: S

[2022-06-02 05:35] pdecat commented on #188
I'm going to allow passing the authentication method and device to AWS ADFS as a CLI parameter, e.g.:

[code]

Other possible methods: `WebAuthn`, `Phone`

[2022-06-02 09:05] #236 closed

[2022-06-03 09:10] #188 closed

[2022-06-03 09:41] pdecat commented on #239
Hi @ymuwakki, I've opened https://github.com/venth/aws-adfs/pull/241 to resolve this.

As I do not have access to an RSA SecurID account, could you please test it?

To install it from git:
[code]

[2022-06-03 10:10] #234 closed

[2022-06-08 15:38] erpel opened #243 "fido2 1.0.0 breaks aws-adfs"
Installing on macOS in a fresh virtualenv pulls in the newly released fido2 as a dependency. This breaks aws-adfs.
Manually downgrading to 0.9.3 restores functionality.
aws-adfs will either need to adapt to 1.0.0 or depend on <1.0.0 for now.
[code]

[2022-06-08 15:52] Marc-Pons commented on #243
Same problem here

[2022-06-08 16:07] pdecat commented on #243
I had no issue with fido2 1.0.0 on linux, so I went ahead a submitted https://github.com/venth/aws-adfs/issues/245 but I guess I'll reconsider for now.

[2022-06-08 16:20] pdecat commented on #243
Ok, found the fix: https://github.com/venth/aws-adfs/pull/245/commits/688c1169cdd91275fbe94a86661f8a43541201d4

[2022-06-08 16:27] erpel commented on #243
Well that looks like an even better fix, did not expect it to go so quickly. Thanks for the effort! #244 is redundant then...

[2022-06-08 16:35] #243 closed

[2022-06-08 16:36] pdecat commented on #243
I've merged your PR to take a bit more time to test my other PR.

Fix released in https://github.com/venth/aws-adfs/releases/tag/2.2.2

[2022-06-08 22:29] brightben1111 commented on #227
hey @pdecat, sorry I never got around to testing your PR but as of v2.2.2 this issue is still present.

[2022-06-09 19:32] brightben1111 commented on #227
Confirmed it works this time, thank you!

[2022-06-10 07:36] #227 closed

[2022-08-25 07:43] RahulKamboj21 commented on #98
for us, it was happening in aws-adfs, because, my password was expired and when we used a new one, it worked!!.

[2022-10-07 07:12] pvbouwel opened #342 "feature: Allow enforcing config role_arn"
# Description

So currently it is possible to specify `adfs_config.role_arn` and if the user has access to the role that role will be selected.

When the user doesn't have access to the role the user will be prompted to select one of the roles that is available to him/her. The code doesn't offer a way to just stop and fail.

## Context

I am an aws-adfs star gazer for some time now and I use it mo

[2022-10-21 04:38] trav-c commented on #175
I have encountered this also, it is caused by certain regions (specifically the four listed in the original ticket) only supporting regional STS endpoints, while boto3 always defaults to legacy endpoints, it can be worked around by setting the environment variable AWS_STS_REGIONAL_ENDPOINTS=regional, eg

[code]

See https://docs.aws.amazon.com/sdkref/latest/guide/feature-sts-regionalized-endpoints

[2022-10-25 17:01] mrichnu opened #355 "Failed response from Duo"
Hello, using aws-adfs v 2.5.1 and testing the Duo universal prompt integration with AD FS (we have been using the traditional prompt for years with no issues, but the traditional prompt will be retired in March 2024).

Currently receiving responses from Duo that look like this:
[code]

This authentication flow works fine in the browser, just isn't working with `aws-adfs`. Below is the final sectio

[2022-10-26 07:27] #162 closed

[2022-10-26 14:20] pdecat commented on #355
Hi, that's weird. You should rather get something like this:

[code]

According to Duo web UI source code, `message_enum` value `7` translates to `AUTH_ACCESS_DENIED`:

![image](https://user-images.githubusercontent.com/318490/198051433-cc077353-ef42-4531-8431-c382a5f192fd.png)

[2022-10-26 16:06] mrichnu commented on #355
I noticed that `aws-adfs` is not sending two cookies in the POST request to /frame/v4/prompt, namely the `sid` and `trc|` cookies (both set a `sid|<random looking string>` cookie, but the browser is sending an additional `sid` cookie). Here's an example of the browser's request cookie header:
[code]

Additionally the following request headers are all being sent by the (successful) browser flow but

[2022-10-26 21:03] pdecat commented on #355
The `sid` and `trc` cookies are there in my log extract.
You do have an additional `sid` set by:
[code]

Maybe try deleting your `~/.aws/adfs_cookies_*` files.

[2022-10-26 21:37] mrichnu commented on #355
Thanks for replying! I did already try deleting all adfs_cookies files, no change.